{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="shortcut icon" href='{% static "image/Favicon.png" %}' type="image/x-icon">

  {% csrf_token %}
  <meta name="csrf-token" content="{{ csrf_token }}">
  
  <title>BioVitalAge®</title>

  <!-- Css Import -->
  <link rel="stylesheet" href="{% static 'css/homePage.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Componenti.css' %}" />

  <!-- Banner image -->
  <style> :root{ --banner-bg: url("{% static 'image/Home_Banner.png' %}"); }</style>

  <!-- Bootstrap import -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Font Import  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />
  

  <!-- CDN import head-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spinkit@2.0.1/spinkit.min.css" />

  <!-- >Script variabile globale current user -->
  <script>
      const currentUser = "{{ dottore|escapejs }}";
      window.currentUser = "{{ dottore|escapejs }}" || 'guest';
      window.isSecretary = {{ dottore.isSecretary|yesno:"true,false" }};
      

          // Calcola il ruolo
      window.role = window.isSecretary 
        ? 'Segreteria/o' 
        : 'Dottore/Dottoressa';
      document.getElementById('logout-btn')?.addEventListener('click', () => {
        localStorage.setItem('pendingLogout', 'true');
      });
  </script> 
    
  <!-- Js Import -->
  <script src="{% static 'js/home_page/homePage.js' %}" type="module"></script>
  <script src="{%  static 'js/components/sidebar.js' %}"></script>

</head>

<body>

  <!-- LOADER -->
  {% include 'components/loader.html' %}

  <!-- SIDEBAR -->
  <div id="sidebar" class="bg-sidebar hidden"></div>

  <!-- NAVBAR -->
  {% include 'components/navBar.html' %}

  <main>
    <!-- MAIN MENU TRACE -->
    <div class="main-title-nav">

      <!-- SIDEBAR LATERAL -->
      <div id="sidebar" class="sidebar hidden">
        <div class="sidebar-header">
          <h3 id="sidebar-title">Sezione</h3>
          <button id="closeSidebar">✖</button>
        </div>
        <div id="sidebar-content"></div>
      </div>

      <div class="linkage-container">

        <a href="#" title="Notifiche" class="sidebar-trigger" data-section="Notifiche">
          <img src="{% static 'image/Notifica.png' %}" alt="icon-notify" />
        </a>

        <a href="#" title="Email" class="sidebar-trigger" data-section="Email">
          <img src="{% static 'image/Email.png' %}" alt="icon-email" />
        </a>

        <a href="#" title="Update" class="sidebar-trigger" data-section="Update">
          <img src="{% static 'image/Update.png' %}" alt="icon-update" />
        </a>

        <a href="#" title="Funzionalità" class="sidebar-trigger" data-section="Funzionalità">
          <img src="{% static 'image/Funzionalita.png' %}" alt="icon-funzionalità" />
        </a>

        <a href="#" title="Configurazione" class="sidebar-trigger" data-section="Configurazione">
          <img src="{% static 'image/Configurazione.png' %}" alt="icon-Configurazione" />
        </a>

        <a href="{% url 'statistiche' %}" title="Statistiche" data-section="Statistiche">
          <img src="{% static 'image/Statistiche.png' %}" alt="icon-statistiche" />
        </a>
        
      </div>

      <div class="main-menu-trace" title="Home Page">
        <a href="{% url 'HomePage' %}">
          <img src="{% static 'image/Home.png' %}" alt="" />
        </a>
        <p>»</p>
        <p>Home Page</p>
      </div>
    </div>

    <!-- BANNER SECTION -->
    <div class="banner">

      <div class="banner-background">

        <div class="banner-info">
          <h3>Buongiorno,</h3>
          <h2 class="main-welcome-title" id="nameUser">{% if dottore.isSecretary %}Segr. {{ dottore.cognome }} {{ dottore.nome }}{% else %}Dott. {{ dottore.cognome }} {{ dottore.nome }} {% endif %}</h2>
          <div class="box-icons">
            <div class="box-info">
              <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path
                    d="M8 3V5H6V9C6 11.2091 7.79086 13 10 13C12.2091 13 14 11.2091 14 9V5H12V3H15C15.5523 3 16 3.44772 16 4V9C16 11.9727 13.8381 14.4405 11.0008 14.9169L11 16.5C11 18.433 12.567 20 14.5 20C15.9973 20 17.275 19.0598 17.7749 17.7375C16.7283 17.27 16 16.2201 16 15C16 13.3431 17.3431 12 19 12C20.6569 12 22 13.3431 22 15C22 16.3711 21.0802 17.5274 19.824 17.8854C19.2102 20.252 17.0592 22 14.5 22C11.4624 22 9 19.5376 9 16.5L9.00019 14.9171C6.16238 14.4411 4 11.9731 4 9V4C4 3.44772 4.44772 3 5 3H8ZM19 14C18.4477 14 18 14.4477 18 15C18 15.5523 18.4477 16 19 16C19.5523 16 20 15.5523 20 15C20 14.4477 19.5523 14 19 14Z">
                  </path>
                </svg>
              </div>
              <div class="icon-description">
                <h3 id="total-pazienti">{{ total_pazienti|default:"0" }}</h3>
                <p>Pazienti Visitati</p>
              </div>
            </div>
            <div class="box-info">
              <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path
                    d="M10 2C10.5523 2 11 2.44772 11 3V7C11 7.55228 10.5523 8 10 8H8V10H13V9C13 8.44772 13.4477 8 14 8H20C20.5523 8 21 8.44772 21 9V13C21 13.5523 20.5523 14 20 14H14C13.4477 14 13 13.5523 13 13V12H8V18H13V17C13 16.4477 13.4477 16 14 16H20C20.5523 16 21 16.4477 21 17V21C21 21.5523 20.5523 22 20 22H14C13.4477 22 13 21.5523 13 21V20H7C6.44772 20 6 19.5523 6 19V8H4C3.44772 8 3 7.55228 3 7V3C3 2.44772 3.44772 2 4 2H10ZM19 18H15V20H19V18ZM19 10H15V12H19V10ZM9 4H5V6H9V4Z">
                  </path>
                </svg>
              </div>
              <div class="icon-description">
                <h3 id="total-biological-age">{{  total_biological_age|default:"0" }}</h3>
                <p>Calcoli BioVitalAge</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      
      <div class="card-actions">
        <h3>Azioni Rapide</h3>
        <div class="container-card-actions">

          <div class="action-card" onclick="window.location.href='{% url 'appointment_home' %}'">
            <div class="action-card-image">
              <img src="{% static 'image/Appuntamenti_colorato.png' %}" alt="">
            </div>
            <p>Appuntamenti</p>
          </div>

          <div class="action-card" onclick="window.location.href='{% url 'appuntamenti' %}'">
            <div class="action-card-image">
              <img src="{% static 'image/Calendario_Colorato.png' %}" alt="">
            </div>
            <p>Calendario</p>
          </div>

          <div class="action-card">
            <div class="action-card-image">
              <img src="{% static 'image/Statistiche_Colorato.png' %}" alt="">
            </div>
            <p>Statistiche</p>
          </div>
          
          <div class="action-card">
            <div class="action-card-image">
              <img src="{% static 'image/EtaBiologica.png' %}" alt="">
            </div>
            <p>Calcolatore Età Biologica</p>
          </div>

          <div class="action-card">
            <div class="action-card-image">
              <img src="{% static 'image/Configurazione_Colorato.png' %}" alt="">
            </div>
            <p>Configurazione</p>
          </div>

        </div>
      </div>

    </div>

    <!-- RICERCA PAZIENTI -->
    <div class="tabella-ricerca">
      
      <div class="barra-ricerca">

        <select name="filter" id="filter">
          <option value="all">Ordine Cronologico</option>
          <option value="surname">Filtra per Cognomi</option>
          <option value="name">Filtra per Nomi</option>
          <option value="fisc_code">Filtra per Codici Fiscali</option>
          <option value="personal_association">Filtra per Personale Associato</option>
        </select>

        <form method="POST">
          {% csrf_token %}
          <div class="input-group">

            <input type="text" class="input" id="Email" name="inputField" placeholder="Scrivi qui il testo..." required>

            <button class="button button--submit" type="submit">

              <span class="button__icon-wrapper">

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  width="15"
                  class="button__icon-svg"
                >
                  <circle
                    cx="11"
                    cy="11"
                    r="7"
                    stroke="currentColor"
                    stroke-width="2"
                  ></circle>
                  <line
                    x1="16"
                    y1="16"
                    x2="21"
                    y2="21"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                  ></line>
                </svg>
    
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  width="15"
                  class="button__icon-svg button__icon-svg--copy"
                >
                  <circle
                    cx="11"
                    cy="11"
                    r="7"
                    stroke="currentColor"
                    stroke-width="2"
                  ></circle>
                  <line
                    x1="16"
                    y1="16"
                    x2="21"
                    y2="21"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                  ></line>
                </svg>

              </span>
              Cerca
            </button>

          </div>
        </form>

        <a href="{% url 'inserisci_paziente' %}" title="Add Patient" class="button">

            <span class="button__icon-wrapper">

              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__icon-svg" width="14"
                height="14">
                <path d="M12 4V20M4 12H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
          
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="button__icon-svg button__icon-svg--copy" width="14" height="14">
                <path d="M12 4V20M4 12H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
          
            </span>
            Aggiungi Paziente
        </a>

      </div>
    
      <div class="table-container">

          <div class="table-header">

            <p>Nome</p>
            <p>Cognome</p>
            <p>Data di nascita</p>
            <p>Codice Fiscale</p>
            <p>Città di nascita</p>
            <p>Età cronologica</p>
            <p>Dottore Associato</p>
            <p>Cartella Paziente</p>

          </div>
        
          <div class="bg-white">

            <div class="table-content">
              {% for persona in persone %}
                <div class="riga-container" onclick="window.location.href='{% url 'cartella_paziente' persona.id %}'" style="cursor: pointer;">
                    <p>{{ persona.name|title }}</p>
                    <p>{{ persona.surname|title }}</p>
                    <p>{{ persona.dob|date:"d/m/Y" }}</p>
                    <p>{{ persona.codice_fiscale }}</p>
                    <p>{{ persona.place_of_birth|title }}</p>
                    <p>{{ persona.chronological_age }}</p>
                    {% if persona.associate_staff %}
                    <p>{{ persona.associate_staff|title }}</p>
                    {% else %}
                    <p>Dottore non associato.</p>
                    {% endif %}

                    <p>
                        <a href="{% url 'cartella_paziente' persona.id %}">
                            <img src="{% static 'image/Cartella.png' %}" alt="Cartella" />
                        </a>
                    </p>

                </div>
            {% endfor %}

            </div>

          </div>

      </div>

    </div>
    

    <!-- CDN import end of body -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'js/ricerca_pazienti/risultati.js' %}" defer></script>
</body>

<!-- Script per dati email -->
<script id="emails-data" type="application/json">[]</script>

</html>

















     <!--  <div class="container-work-in-progress">
        <div class="reminders "> 
          <div class="button-container">
            <h3>Promemoria</h3>
            <button class="button">
              <span class="button__icon-wrapper">
                <svg
                  viewBox="0 0 14 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="button__icon-svg"
                  width="10"
                >
                  <path
                    d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                    fill="currentColor"
                  ></path>
                </svg>
  
                <svg
                  viewBox="0 0 14 15"
                  fill="none"
                  width="10"
                  xmlns="http://www.w3.org/2000/svg"
                  class="button__icon-svg button__icon-svg--copy"
                >
                  <path
                    d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                    fill="currentColor"
                  ></path>
                </svg>
              </span>
              Vedi Tutti
            </button>
          </div>
          <ul class="reminder-list">
            <li>
              <div class="reminder-text">
                <span>-</span> Controllare i risultati di laboratorio del paziente William Mathews.
              </div>
              <span class="urgency-badge high">Priorità alta</span>
              <div class="reminder-time">Due: 10:00 AM</div>
              <div class="reminder-actions">
                <button class="action-btn approve">✔</button>
                <button class="action-btn delete">✖</button>
              </div>
            </li>
            <li>
              <div class="reminder-text">
                <span>-</span> Preparare le note di consultazione per Adam Bradley.
              </div>
              <span class="urgency-badge medium">Priorità media</span>
              <div class="reminder-time">Due: 2:30 PM</div>
              <div class="reminder-actions">
                <button class="action-btn approve">✔</button>
                <button class="action-btn delete">✖</button>
              </div>
            </li>
            <li>
              <div class="reminder-text">
                <span>-</span> Fissare un appuntamento di follow-up con Kathy Atkinson.
              </div>
              <span class="urgency-badge low">Priorità Bassa</span>
              <div class="reminder-time">Due: Domani</div>
              <div class="reminder-actions">
                <button class="action-btn approve">✔</button>
                <button class="action-btn delete">✖</button>
              </div>
            </li>
          </ul>
        </div>
      </div> -->
      

    <!-- CARD APPUNTAMENTI -->
    <!-- <div class="cardAppuntamenti">
          <div class="button-container">
              <h3>Appuntamenti</h3>
              <button class="button" onclick="window.location.href='{% url 'appuntamenti' %}'"> 
                <span class="button__icon-wrapper">
                  <svg
                    viewBox="0 0 14 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="button__icon-svg"
                    width="10"
                  >
                    <path
                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                      fill="currentColor"
                    ></path>
                  </svg>
      
                  <svg
                    viewBox="0 0 14 15"
                    fill="none"
                    width="10"
                    xmlns="http://www.w3.org/2000/svg"
                    class="button__icon-svg button__icon-svg--copy"
                  >
                    <path
                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </span>
                Vedi Tutti
              </button>
          </div>
          <table>
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Nome Paziente</th>
                      <th>Data</th>
                      <th>Ora</th>
                      <th>Studio</th>
                      <th>Tipologia</th>
                      <th>Azione</th>
                  </tr>
              </thead>
              <tbody>
                  {% if appuntamenti %}
                      {% for appointment in appuntamenti %}
                      <tr data-id="{{ appointment.id }}">
                          <td>{{ appointment.id }}</td>
                          <td><img src="{% static 'image/Username_Violet.png' %}" alt="Avatar" class="avatar"> {{ appointment.nome_paziente|title }}</td>
                          <td>{{ appointment.data|date:"d/m/Y" }}</td>
                          <td>{{ appointment.orario|time:"H:i" }}</td>
                          <td>{{ appointment.numero_studio }}</td>
                          <td>
                              <span
                                  class="badge
                                  {% if appointment.tipologia_visita == 'Generale' %}
                                    general
                                  {% elif appointment.tipologia_visita == 'Riabilitazione' %}
                                    rehab
                                  {% elif appointment.tipologia_visita == 'Fisioterapia e Riabilitazione' %}
                                    physio-ria
                                  {% elif appointment.tipologia_visita == 'Fisioterapia Sportiva' %}
                                    physio-spo
                                  {% elif appointment.tipologia_visita == 'Fisioestetica' %}
                                    physio-est
                                  {% else %}
                                    other
                                  {% endif %}">
                                  {{ appointment.tipologia_visita }}
                              </span>
                          </td>
                          <td>
                            {% if appointment.confermato %}
                              <button class="action-btn action-btn-approved approve" disabled title="Appuntamento confermato.">✔</button>
                              <button class="action-btn delete" title="Elimina">✖</button>
                            {% else %}
                              <button class="action-btn approve">✔</button>
                              <button class="action-btn delete" title="Elimina">✖</button>
                            {% endif %}
                          </td>
                      </tr>
                      {% endfor %}
                  {% else %}
                      <tr>
                          <td colspan="7" class="text-center">Nessun appuntamento disponibile</td>
                      </tr>
                  {% endif %}
              </tbody>
          </table>

          <div id="pagination" class="pagination-container"></div>
    </div>
 -->
    <!-- CARDS REPORT -->
<!--     <div class="cards">

      <div class="report-card" id="card-style">
        <div class="container-info-report">
          <div class="img-container">
            <img src="{% static 'image/Patient.png' %}" alt="">
          </div>
          <div class="report-description">
            <h3>Totale Pazienti</h3>
            <div class="report-info-detail">
              <p class="primary-info">
                <span class="animate-num" data-target="{{ current_week_patients|default:"0" }}">{{ current_week_patients|default:"0" }}</span>
              </p>
              <p>
                {% if difference < 0 %}
                  <span class="animate-num" data-target="{{ difference|default:"0" }}">{{ difference|default:"0" }}</span> settimana scorsa
                {% elif difference > 0 %}
                  + <span class="animate-num" data-target="{{ difference|default:"0" }}">{{ difference|default:"0" }}</span> settimana scorsa
                {% else %}
                  <span class="animate-num" data-target="0">0</span> rispetto alla settimana scorsa
                {% endif %}
              </p>
            </div>
          </div>
          
        </div>
        <p id="mediaPercentage">
          <span class="animate-num" data-target="{{ percentage_increase|floatformat:"0" }}">
            {{ percentage_increase|floatformat:"0" }}
          </span>% rispetto alla settimana scorsa.
        </p>        
      </div>
      
      <div class="report-card" id="card-style">
        <div class="container-info-report">
          <div class="img-container">
            <img src="{% static 'image/Referto.png' %}" alt="">
          </div>
          <div class="report-description">
            <h3>Totale Prescrizioni</h3>
            <div class="report-info-detail">
              {% if difference_referti > 0 %}
                <p class="primary-info">
                  <span class="animate-num" data-target="{{ current_week_referti|default:"0" }}">{{ current_week_referti|default:"0" }}</span>
                </p>
                <p>
                  &nbsp;+ <span class="animate-num" data-target="{{ difference_referti|default:"0" }}">{{ difference_referti|default:"0" }}</span> settimana scorsa
                </p>
              {% elif difference_referti < 0 %}
                <p class="primary-info">
                  <span class="animate-num" data-target="{{ current_week_referti|default:"0" }}">{{ current_week_referti|default:"0" }}</span>
                </p>
                <p>
                  &nbsp;- <span class="animate-num" data-target="{{ abs_difference_referti|default:"0" }}">{{ abs_difference_referti|default:"0" }}</span> settimana scorsa
                </p>
              {% else %}
                <p class="primary-info">
                  <span class="animate-num" data-target="{{ current_week_referti|default:"0" }}">{{ current_week_referti|default:"0" }}</span>
                </p>
                <p>&nbsp;0 settimana scorsa</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% if difference_referti > 0 %}
          <p id="mediaPercentage">
            <span class="animate-num" data-target="{{ percentage_increase_referti|floatformat:'0' }}">
              {{ percentage_increase_referti|floatformat:'0' }}
            </span>% in più rispetto alla settimana scorsa.
          </p>
        {% elif difference_referti < 0 %}
          <p id="mediaPercentage">
            <span class="animate-num" data-target="{{ percentage_increase_referti|floatformat:'0' }}">
              {{ percentage_increase_referti|floatformat:'0' }}
            </span>% in meno rispetto alla settimana scorsa.
          </p>
        {% else %}
          <p id="mediaPercentage">
            Nessun cambiamento rispetto alla settimana scorsa.
          </p>
        {% endif %}      
      </div>
      
      <div class="report-card" id="card-style">
        <div class="container-info-report">
          <div class="img-container">
            <img src="{% static 'image/Heart.png' %}" alt="">
          </div>
          <div class="report-description">
            <h3>Età media dei pazienti</h3>
            <div class="report-info-detail">
              <p><span class="animate-num" data-target="{{ min_age|default:"0" }}">{{ min_age|default:"0" }}</span> Anni</p>
              <p>a <span class="animate-num" data-target="{{ max_age|default:"0" }}">{{ max_age|default:"0" }}</span> Anni</p>
            </div>
          </div>
        </div>
        <p id="mediaPercentage">
          {% if media_percentage > 66 %}
            Mente - età elevata
          {% elif media_percentage < 33 %}
            Mente - età bassa
          {% else %}
            Mente - età media
          {% endif %} 
        </p>
      </div>

      <div class="report-card" id="card-style">
        <div class="container-info-report">
          <div class="img-container">
            <img src="{% static 'image/Income.png' %}" alt="">
          </div>
          <div class="report-description">
            <h3>Guadagni</h3>
            <div class="report-info-detail">
              <p>
                &nbsp;+ <span class="animate-num" data-target="980">0</span>€ &nbsp;il mese scorso
              </p>
            </div>
          </div>
        </div>
        <p id="mediaPercentage">
          <span class="animate-num" data-target="20">0</span>% in più rispetto al mese scorso.
        </p>
      </div> 

    </div> -->

    <!-- TABELLA PAZIENTI RECENTI -->
<!--     <div class="recent-patients">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0 text-center">Ultimi 5 Pazienti Inseriti</h2>
        <a href="{% url 'inserisci_paziente' %}" title="Add Patient" class="button">
          <span class="button__icon-wrapper">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__icon-svg" width="14"
              height="14">
              <path d="M12 4V20M4 12H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
        
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
              class="button__icon-svg button__icon-svg--copy" width="14" height="14">
              <path d="M12 4V20M4 12H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
        
          </span>
          Aggiungi Paziente
        </a>
      </div>
      <div class="table-container">
        <div class="table-header">
          <p>Nome</p>
          <p>Cognome</p>
          <p>Data di nascita</p>
          <p>Codice Fiscale</p>
          <p>Città di nascita</p>
          <p>Età cronologica</p>
          <p>Cartella Paziente</p>
        </div>

        <div class="table-content">
          {% if persone %}
            {% for persona in persone %}
            <div class="riga-container">
              <p>{{ persona.name|title }}</p>
              <p>{{ persona.surname|title }}</p>
              <p>{{ persona.dob|date:"d/m/Y"|default:"Non specificato." }}</p>
              <p>{{ persona.codice_fiscale|default:"Non specificato." }}</p>
              <p>{{ persona.place_of_birth|title|default:"Non specificato." }}</p>
              <p>{{ persona.chronological_age }}</p>
  
              <p>
                <a href="{% url 'cartella_paziente' persona.id %}">
                  <img src="{% static 'image/Cartella.png' %}" alt="Cartella" />
                </a>
              </p>
            </div>
            {% endfor %}
          {% else %}
            <div class="riga-container">
              <p colspan="7" class="text-center">Nessun paziente trovato.</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
 -->
  
