/* FONT STYLE */
* p,
* input,
* select{
    font-family: 'Poppins', sans-serif !important;
}
* h3{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 23px !important;
    font-weight: 600 !important;
}
* span{
    font-family: 'Montserrat', sans-serif !important;
}


/* STILE CARD PROSPETTO */
.flex-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 98%;
}
.card {
    height: 170px !important;
    width: 12.5%;
    background: white;
    border: none !important;
    border-radius: 8px;
    display: flex;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.08);
} 
.card-container-title{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 2.5px solid var(--contrast-color-shadow);
}
.card-container-title h4{
    text-align: center;
    font-size: 15px;
    width: 70%;
    font-weight: 500px;
    color: var(--dark1);
    margin-top: 0.5rem;
}
.card-container-title img{
    width: 30px;
    height: 30px;
}
.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.arrow{
    position: relative;
}
.arrow span{
    font-weight: bold;
}
.arrow.upper::before{
    content: '↑';
    left: 0;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    top: 0;
    color: var(--positive-color);
}
.arrow.down::before{
    content: '↓';
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    left: 0;
    top: 0;
    color: var(--negative-color-right);
}
.punteggio{
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    color: rgba(124, 81, 149, 0.617);
}
.prospetto{
    border-radius: 8px 8px 0px 0px;
    width: 15rem;
    text-align: center;
    margin-bottom: -1rem;
    background-color: var(--contrast-color-shadow);
    width: 100%;
    padding: 15px 0px 10px 0px;
    color: var(--contrast-color);
}





.container-biologica{
    background-color: var(--card-color);
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 2rem;
    padding-bottom: 20px;
}
.card-calcolatore-anteprima{
    width: 98%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.08);
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.img-container {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    overflow: hidden;
}
.img-container img {
    display: block;
    width: 48%;
    height: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease; 
    transform-origin: center center;
}
.img-container .overlay {
    cursor: pointer;
    position: absolute;
    top: 0; left: 0rem;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; 
    border-radius: 8px;
}
.overlay-btn {
    padding: 0.75em 1.5em;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: var(--contrast-color);
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease 0.1s;
}
.img-container:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}
.img-container:hover .overlay-btn {
    opacity: 1;
}
.overlay-btn:hover{
    background-color: var(--contrast-color2);
}
.img-container:hover img {
    transform: scale(1.01);
}
.card-calcolatore-anteprima h3{
    color: var(--contrast-color);
}
.container-content{
    width: 50%;
    background-color: white;
    height: 100%;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
}
.container-content h3{
    color: var(--contrast-color);
}
.container-stat{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-stat-img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.container-stat-img img{
    width: 50px;
    height: 50px;
}
.container-stat-img div img{
    margin-left: 20px;
    width: 40px;
    height: 40px;
}
.container-stat-img.special{
    border: 5px solid #ddd;
    border-radius: 8px;
    padding: 10px 20px 0px 20px;
    margin-top: -1rem;
}
.container-stat-img .freccia::after {
    content: '↑'; /* ↓ */
    top: 0rem;
    font-size: 30px;
    right: 1rem;
    position: absolute;
    color: var(--positive-color);
}


