:root {
    --dark1: #0c042c;
    --dark2: #0c214b;
    --light1: #c3ccd4;
  
    --neutral-gray: #b0b8c1;
    --neutral-bg-color: rgba(176, 184, 193, 0.2);
    --neutral-bg-color-contrast: rgba(124, 81, 149, 0.2);
  
    --contrast-color: #3a255d;
    --contrast-color-shadow: #3b255d2c;
    --contrast-color2: #6a2dcc;
    --positive-color: #2ac670;
  
    --tittle1: whitesmoke;
    --tittle2: #2ac4dd;
  
    --circle-color-shadow: rgba(42, 196, 221, 0.15);
    --circle-color-shadow-two: rgba(42, 196, 221, 0.05);
    --card-color: #f8f4fc;
}
.form-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.section {
    margin-bottom: 30px;
    padding: 40px;
    background-color: #f8f4fc;
    border-radius: 8px;
}
.section h3 {
    margin-bottom: 20px;
    color: var(--dark2);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: flex-end;
    gap: 20px;
    width: 100%;
}
.patient-info {
    align-items: flex-start;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group input,
.form-group select {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}
input[type="range"] {
    margin-top: 10px;
    padding: 8px 0 8px 1px;
}
#back{
    padding-top: 0 !important;
}







.container_data {
    display: flex;
    flex-direction: column;
    color: #0c214b;
    gap: 20px;
    padding: 45px;
    font-size: 1.1rem;
    background: var(--card-color);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 25px;
}
.container_box {
    display: flex;
    justify-content: space-between;
}
.field {
    font-weight: bold;
    color: var(--contrast-color);
}
  

  

.category-title {
    margin-top: 50px;
    margin-bottom: 30px;
}
.table-title {
    padding-bottom: 20px;
    padding-top: 20px;
    color: var(--dark2);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #6a2dcc;
    color: #fff;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
td input{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
    width: 100%;
}



.responsive-table {
    overflow-x: auto;
    border: 1px solid #ddd;
}
.button-container{
    display: flex;
    justify-content: center;
}
#salvaButton{
    margin-top: 2rem;
    height: 3rem;
    width: 15rem;
}