/* STYLE CARD UPLOAD E DOWNLOAD */
.card-inserimento{
    background-color: var(--card-color);
    border-radius: 8px;
    width: 98%;
    margin: 1rem auto;
    padding: 20px;
}
.card-inserimento h3{
    color: var(--contrast-color);
}
.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 1rem;
}
.card-container{
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.card-container h5{
    color: var(--dark1);
}
.card-container .container-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.card-container img{
    width: 30px;
    height: 30px;
    margin-top: -0.8rem;
}
.download-container form{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
#pdfUpload{
    margin-top: 1rem;
    border-radius: 8px;
    background-color: var(--card-color);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 10px 10px;
}
.container-seleziona input[type="file"] {
  font-family: inherit;
  font-size: 1rem;
  color: #333;
  border: 1px solid transparent;
  background: transparent;
}
.container-seleziona input[type="file"]::file-selector-button {
  margin-right: 1rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--contrast-color2);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color .2s ease;
}
.container-seleziona input[type="file"]::file-selector-button:hover {
  background-color: var(--contrast-color);
}
.container-seleziona input[type="file"]::-moz-file-upload-button {
  margin-right: 1rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--contrast-color2);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color .2s ease;
}
.container-seleziona input[type="file"]::-moz-file-upload-button:hover {
  background-color: #0b5ed7;
}
.container-submit{
    padding: 20px;
}
.container-submit span{
    font-weight: bold;
}
.container-submit p{
    margin-top: -0.5rem;
    margin-bottom: 2rem;
}
.container-submit button,
.container-scarica-pdf button{
    margin-top: 0rem;
    border: none;
    background-color: var(--contrast-color2);
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    margin-left: 13rem
}
.upload-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
}
.container-scarica{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
.container-scarica-pdf{
    width: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
    margin-top: -0.8rem;
}
.container-scarica p{
    margin-top: -0.8rem;
    width: 20rem;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.container-scarica-pdf p span{
    font-weight: bold;
}
.container-scarica-pdf p{
    margin-left: 7rem!important;
}
.container-scarica-pdf button{
    margin-left: 10rem!important;
}


.card-result{
    width: 98%;
    margin: auto;
    background-color: var(--card-color);
    height: 500px;
    border-radius: 8px;
    margin-bottom: 1rem;
}
