:root {
  --dark1: #0c042c;
  --dark2: #0c214b;
  --light1: #c3ccd4;

  --neutral-gray: #b0b8c1;
  --neutral-bg-color: rgba(176, 184, 193, 0.2);
  --neutral-bg-color-contrast: rgba(124, 81, 149, 0.2);

  --contrast-color: #3a255d;
  --contrast-color-shadow: #3b255d2c;
  --contrast-color2: #6a2dcc;
  --positive-color: #2ac670;

  --tittle1: whitesmoke;
  --tittle2: #2ac4dd;

  --circle-color-shadow: rgba(42, 196, 221, 0.15);
  --circle-color-shadow-two: rgba(42, 196, 221, 0.05);
  --card-color: #f8f4fc;
}
