.Calendario-container{
    background-color: var(--card-color);
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.Calendario-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 20px;
    background-color: var(--contrast-color-shadow);
}

/* Filtri container */
.filtri-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.selettori-container button{
    background-color: var(--card-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}
#currentBtn{
    padding: 8px 20px;
    color: var(--contrast-color);
    font-size: 16px;
    width: 8rem;
}
.selettori-container button:hover{
    background-color: var(--contrast-color2);
}
#currentBtn:hover{
    color: white;
}
.selettori-container button:hover .arrow polyline {
    stroke: white;
}
input[type='date']{
    padding: 8px 20px;
    border: none;
    background-color: var(--card-color);
    border-radius: 4px;
    color: var(--contrast-color);
}



#currentData{
    padding: 8px 20px;
    margin-top: 1rem;
    border-radius: 4px;
    font-weight: bold;
    color: var(--contrast-color);
    font-size: 18px;
}





/* Tools container */
.tools-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#button-tools{
    padding: 8px 20px;
    border-radius: 4px;
}
.layout-option {
    margin-right: 5px;
    display: flex;
    gap: 8px;
}
.layout-option button{
    background-color: var(--card-color);
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    color: var(--contrast-color);
}
.layout-option .active{
    background-color: var(--contrast-color2);
    color: white;
}
.layout-option button:hover{
    background-color: var(--contrast-color2);
    color: white;
}


/* Content style */
.header-rowTrace{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 4rem;
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.header-rowTrace p{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border-right: 1px solid #ddd;
    font-weight: bold;
    color: var(--contrast-color);
}


/* STYLE MONTH LAYOUT */
.container-content-table {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    gap: 5px; 
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding-left: 5px;
    padding-right: 5px;
}
.cella {
    padding: 20px; 
    text-align: center;
    border: 1px solid #ddd; 
    height: 150px;
    position: relative;
}
.data{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--dark1);
}
.data.prev{
    color: grey;
}
.cella.current{
    background-color: var(--contrast-color-shadow);
}
.appuntamenti-counter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    border: 1px solid var(--contrast-color2);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 0px;
}



/* STYLE WEEK LAYOUT */
.week-layout-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.header-week{
    display: flex;
    justify-content: center;
    align-items: center;
}
.placeholder-week{
    max-width: 7.65rem;
    border-right: 1px solid #ddd;
}
.row-week{
    display: flex;
    flex-direction: column;
    height: 1400px; 
    width: 100%; 
}
.row-for-ora {
    display: grid;
    grid-template-columns: 0.5fr repeat(7, 1fr);
    height: 150px;
}
.row-for-ora p{
    text-align: center;
    padding-top: 20px;
}

.cellaWeek{
    border-right: 1px solid #ddd; 
    border-left: 1px solid #ddd;
    font-size: 20px;
}
#cellaOrari{
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1400px;
    text-align: center;
}
#cellaOrari p{
    height: 100px;
}









/* ACTIVE LAYOUT STYLE */



#week-head,
#week-layout{
    display: none;
}

