/* ! Calendario */
.Calendario-container {
    background-color: var(--card-color);
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.Calendario-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 20px;
    background-color: var(--contrast-color-shadow);
}














/* Filtri container */
.filtri-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.selettori-container button {
    background-color: var(--card-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

#currentBtn {
    padding: 8px 20px;
    color: var(--contrast-color);
    font-size: 16px;
}

.selettori-container button:hover {
    background-color: var(--contrast-color2);
}

#currentBtn:hover {
    color: white;
}

.selettori-container button:hover .arrow polyline {
    stroke: white;
}

input[type='date'],
input[type='time'] {
    padding: 8px 20px;
    border: none;
    background-color: var(--card-color);
    border-radius: 4px;
    color: var(--contrast-color);
}



#currentData {
    padding: 8px 20px;
    margin-top: 1rem;
    border-radius: 4px;
    font-weight: bold;
    color: var(--contrast-color);
    font-size: 18px;
}






/* ! Button 'Appuntamento' */
.button{
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
}


/* Button search e modale correlata */
.hidden-modal-search {
    display: none;
}

#searchInput{
    border: none;
    padding: 0 5px;
    outline: none;
}

.search-modal {
    position: fixed;
    top: 10px;
    /* oppure dove vuoi posizionarla */
    left: 50%;
    transform: translateX(-50%);
    background: var(--card-color);
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 2000;
}

.search-results {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.search-result-item {
    padding: 5px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-result-item button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    transition: all 0.2s ease-in-out;
}

.search-result-item button:hover {
    scale: 1.2;
}




/* Modale */
.modal-appointments {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.modal-section{
    margin-top: 5%;
}

.modal-content-appointments {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    position: relative;
}

.header-modal-appointments{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    margin-bottom: 20px;
}

.header-modal-appointments h3{
    margin-top: 12px;
    margin-bottom: 0;
}

.icon-container-appointment{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--contrast-color2);
    border-radius: 8px;
    padding: 10px;
}

.icon-container-appointment img{
    width: 100%;
    height: 100%;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.close:hover{
    color: red;
}

.button-modal-appointments{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.button-modal-appointments .btn-secondary{
    background-color: var(--card-color);
    color: var(--contrast-color);
    border: 2px solid var(--contrast-color2);
}

.button-modal-appointments .btn-secondary:hover{
    background-color: var(--contrast-color2);
    color: white;
}

.icon-form-appointment img{
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.icon-form-appointment img:hover{
    transform: scale(1.2);
}

.form-appointment{
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-appointment span{
    color: var(--contrast-color);
}

#edit-date-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.input-typology{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: end;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.form-select-appointment{
    border: none;
    border-bottom: 1px solid var(--contrast-color);
    color: var(--contrast-color);
    padding: 5px;
    cursor: pointer;
    outline: none;
}

.form-textarea {
    height: 35px;
    width: 100%;
    background: #dddddd47;
    cursor: auto;
}

/* ! input time */

#input-time{
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

#voce-prezzario{
    border: none;
    border-bottom: 1px solid var(--contrast-color);
    color: var(--contrast-color);
    padding: 5px;
    cursor: pointer;
    outline: none;
}

#time{
    border: none;
    border-bottom: 1px solid var(--contrast-color);
    color: var(--contrast-color);
    padding: 5px;
    cursor: pointer;
    outline: none;
    width: 100%;
}

#time:first-child{
    opacity: 0.5;
}

#studio{
    border: none;
    border-bottom: 1px solid var(--contrast-color);
    color: var(--contrast-color);
    padding: 5px;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.container-first-select{
    width: max-content;
}

.container-first-select span{
    width: max-content;
}

.icon_add_paient img{
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.icon_add_paient img:hover{
    transform: scale(1.2);
}




















 /* Stile per la seconda modale */

 /* Stile per il selettore dei prefissi */
 .custom-select {
     position: relative;
     width: 200px;
     cursor: pointer;
     user-select: none;
 }

 .selected-option {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 10px;
     border: none;
     border-bottom: 1px solid var(--contrast-color);
     background-color: white;
 }

 .selected-option img {
     width: 30px;
     margin-right: 8px;
 }

 .options-list {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     background: white;
     border: 1px solid #ddd;
     padding-left: 0 !important;
     display: none;
     z-index: 10;
 }

 .options-list li {
     display: flex;
     align-items: center;
     padding: 8px;
     cursor: pointer;
     padding-left: 10px;
     transition: background 0.2s;
 }

 .options-list li:hover {
     background: #f0f0f0;
 }

 .options-list img {
     width: 30px;
     margin-right: 8px;
 }

 /* Contenitore dell'input */
 .input-container {
     position: relative;
     width: 100%;
 }

 /* Input standard */
 .input-container input {
     width: 100%;
     font-size: 16px;
     transition: border 0.3s;
     background-color: transparent;
 }

 /* Floating Label (inizialmente all'interno dell'input) */
 .floating-label {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     font-size: 16px;
     color: var(--contrast-color);
     pointer-events: none;
     transition: all 0.2s ease-in-out;
 }

 /* Quando l'input è attivo o contiene un valore, il label si solleva */
 .active-label {
     top: 0px !important;
     font-weight: bold;
     color: var(--contrast-color2);
     font-size: 12px;
 }

 /* Bordo evidenziato quando l'input è attivo */
 .input-container input:focus {
     border-color: #6200ea;
 }

/* Stile per l'input */
 #newName,
 #newSurname,
 #newCell,
 #newEmail,
 #prefisso {
     border: none;
     border-bottom: 1px solid var(--contrast-color);
     color: var(--contrast-color);
     padding: 5px;
     cursor: auto;
     outline: none;
     width: 100%;
 }

 #first-input-user {
     display: grid;
     gap: 3%;
     grid-template-columns: 1fr 1fr;
     margin-bottom: 20px;
 }

 #second-input-user {
     display: grid;
     gap: 3%;
     grid-template-columns: 2fr 1fr 2fr;
     align-items: end;
     margin-bottom: 20px;
 }


 #addUserForm{
    margin-top: 7%;
 }
 /* Stile per la modale */
 .modal-overlay-user {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 2000;
     /* Deve essere sopra la prima modale */
 }

 .modal-content-user {
     background: white;
     padding: 20px;
     border-radius: 8px;
     width: 50%;
     position: relative;
     z-index: 3000;
     /* Ancora più in alto */
 }

 .hidden-user-modal {
     display: none;
 }

 .close-btn {
     position: absolute;
     top: 10px;
     right: 15px;
     font-size: 20px;
     cursor: pointer;
 }

















/* ! Tools container */
.tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#button-tools {
    padding: 8px 20px;
    border-radius: 4px;
}

.layout-option {
    margin-right: 5px;
    display: flex;
    gap: 8px;
}

.layout-option button {
    background-color: var(--card-color);
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    color: var(--contrast-color);
}

.active {
    background-color: var(--contrast-color2) !important;
    color: white !important;
}

.layout-option button:hover {
    background-color: var(--contrast-color2);
    color: white;
}
.cella {
    overflow: auto;
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* Chrome, Safari, Edge */
.cella::-webkit-scrollbar {
    width: 8px;
    /* Larghezza della scrollbar */
}

.cella::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Colore del tracciato */
    border-radius: 4px;
}

.cella::-webkit-scrollbar-thumb {
    background: #888;
    /* Colore della thumb */
    border-radius: 4px;
}

.cella::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Colore della thumb al passaggio del mouse */
}

.appointment-box {
    background-color: #3a255d;
    position: relative;
    color: #fff;
    padding: 0 7px;
    margin-top: 5px;
    font-size: 0.7rem;
    border-radius: 4px;
    text-align: center;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointment-box:active {
    cursor: grabbing;
}

.delete-appointment

/* ! Action menu */
.action-menu {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 8px 12px;
    z-index: 3000;
    display: flex;
    gap: 12px;
}

.action-icon {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.action-icon:hover {
    transform: scale(1.2);
}

/* !  Popup actions */
.popup-actions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 6px;
    display: flex;
    gap: 8px;
    transition: opacity 0.2s ease;
}

.popup-actions.hidden-popup {
    display: none;
}

.popup-actions button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.popup-actions button:hover {
    transform: scale(1.2);
}

/* Overlay */
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.custom-modal-overlay.hidden-details {
    display: none;
}

/* Modale */
.custom-modal-content {
    background: #fff;
    border-radius: 12px;
    padding: 20px 30px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    position: relative;
    transform: scale(0.8);
    opacity: 0;
}

/* Chiudi */
.custom-close {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.custom-close:hover {
    color: #ff6961;
}

/* Contenuto */
.custom-details-content p {
    margin: 10px 0;
    font-size: 16px;
}
  











/* Content style */
.header-rowTrace {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 4rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.header-rowTrace p {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border-right: 1px solid #ddd;
    font-weight: bold;
    color: var(--contrast-color);
}
















/* STYLE MONTH LAYOUT */
.container-content-table {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.cella {
    padding: 30px;
    text-align: center;
    border: 1px solid #ddd;
    height: 150px;
    position: relative;
    cursor: pointer;
}

.holiday-day{
    background-color: #8B0000;
}

.present-day{
    background-color: #ddd;
}

.past-day p{
    color: rgba(0, 0, 0, 0.418);
}

.past-day .appointment-box{
    background-color: var(--neutral-range-color) !important;
    opacity: 0.5;
}

.data {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--dark1);
}

.data.prev {
    color: grey;
}

.cella.current {
    background-color: var(--contrast-color-shadow);
}

/* STYLE WEEK LAYOUT */
.appointment-box.dragging {
    opacity: 1 !important;
    /* Mantiene l'opacità */
    transform: scale(1.1);
    /* Effetto di ingrandimento */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Effetto sollevamento */
}

.appointment-box.hold {
    opacity: 1 !important;
    /* Impedisce la trasparenza */
}

.cella {
    border: 1px solid #ddd;
    min-height: 80px;
    padding: 10px;
    position: relative;
}

.cella.drag-over {
    background-color: #f1f1f1;
    /* Evidenzia la cella di destinazione */
    border: 2px dashed #3a255d;
}

.delete-appointment {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 2px;
    transition: color 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-appointment:hover {
    color: #ff6961;
}













/* STYLE WEEK LAYOUT */
.week-layout-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.header-week {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder-week {
    max-width: 7.65rem;
    border-right: 1px solid #ddd;
}

.row-week {
    display: flex;
    flex-direction: column;
    height: 1400px;
    width: 100%;
}

.row-for-ora {
    display: grid;
    grid-template-columns: 0.5fr repeat(7, 1fr);
    height: 150px;
}

.row-for-ora p {
    text-align: center;
    padding-top: 20px;
}

.cellaWeek {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-size: 16px;
    padding: 15px;
}

#cellaOrari {
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1400px;
    text-align: center;
}

#cellaOrari p {
    height: 100px;
}









/* DAY LAYOUT STYLE */
.day-layout-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.header-day{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-day{
    display: flex;
    flex-direction: column;
    height: 1400px;
    width: 100%;
}

.row-for-ora-day{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    height: 150px;
}

.row-for-ora-day p{
    text-align: center;
    padding-top: 20px;
}

.cellaDay{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-size: 16px;
    padding: 15px;
}






/* ACTIVE LAYOUT STYLE */
#week-head,
#week-layout {
    display: none;
}

/* ACTIVE LAYOUT STYLE DAILY */
#day-layout {
    display: none;
}







/* ! Button modify */
/* From Uiverse.io by vinodjangid07 */
.Btn-modify {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: var(--contrast-color2);
    color: white;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: .3s;
}

.button-view-all {
    padding: 0.48rem 1.4rem;
    width: max-content;
    border-radius: 10px;
}

.svg {
    width: 15px;
    position: absolute;
    fill: white;
    transition-duration: .3s;
}

.save-icon {
    width: 20px !important;
}

.Btn-modify:hover {
    color: transparent;
}

.Btn-modify:hover svg {
    transform: scale(1.2);
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btn-modify:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}