.container_data {
  display: flex;
  flex-direction: column;
  color: #0c214b;
  gap: 20px;
  padding: 45px;
  font-size: 1.1rem;
  background: var(--card-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin: 0 23px;
  margin-top: 25px;
}

.anagraphic_data h3 {
  margin: 0 !important;
  padding: 0 !important;
}
.container_box {
  display: flex;
  justify-content: space-between;
}
.info_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  row-gap: 20px;
  width: 100%;
}
.field {
  display: flex;
  flex-direction: column;
}

.riga-container p:first-of-type{
  border-left: none;
}

.field p:first-of-type {
  background-color: var(--contrast-color-shadow);
  border-radius: 8px;
  padding: 15px;
  color: var(--dark2);
  margin-bottom: -1rem;
  font-weight: bold;
  padding-bottom: 25px;
}
.field p:last-of-type {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 15px;
  padding-top: 15px;
  border-radius: 8px;
  font-size: 18px;
  color: var(--dark1);
  background-color: white;
}

/* ! Tabelle */
.table_data {
  margin-top: 25px;
}
.table-title {
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--dark2);
}
.table-title:nth-child(1) {
  margin-top: 25px;
}
.table_data h3 {
  color: var(--contrast-color);
}
.table-title-tools {
  display: flex;
  justify-content: space-between;
}
.container-menu {
  display: flex;
  gap: 15px;
}
.tools-table {
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  background-color: var(--tittle1);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools-table img {
  height: 30px;
  width: 30px;
  transition: transform 0.3s ease-in-out;
}
.tools-table img:hover {
  transform: scale(1.1);
}
/* Stile base con animazione */
.tools-menu-button {
  display: none;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Stato visibile con transizione fluida */
.tools-menu-button.show {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}
.riga-container input {
  border: none;
  text-align: center;
  background-color: inherit;
  width: 100%;
  height: 100%;
  outline: none;
}

/* ! Blood Data */
.blood_data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-blood-input {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 67%;
}
.container {
  display: flex;
  flex-direction: column;
}
.container h3 {
  background-color: var(--contrast-color-shadow);
  padding: 15px;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: -1rem;
}
.container input {
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #ddd;
  padding: 15px;
}

/* ! Checkbox per eliminare le righe */
/* From Uiverse.io by sssynk */
/* Hide the default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 5px;
}

.container-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  user-select: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px rgb(183, 183, 183);
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  box-shadow: 3px 3px 0px rgb(183, 183, 183);
  transition: all 0.2s;
  opacity: 1;
  background-image: linear-gradient(
    45deg,
    rgb(100, 61, 219) 0%,
    rgb(217, 21, 239) 100%
  );
}

.container-checkbox input ~ .checkmark {
  transition: all 0.2s;
  opacity: 1;
  box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  opacity: 1;
  transition: all 0.2s;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 0.5em;
  top: 0.35em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
