/* ! Reset CSS */
*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

/* ! ROOT */
:root{
    --dark1: #0c042c; 
    --dark2: #0c214b; 
    --light1: #c3ccd4; 

    --neutral-gray: #b0b8c1;
    --neutral-bg-color: rgba(176, 184, 193, 0.2);
    --neutral-bg-color-contrast: rgba(124, 81, 149, 0.2); 
    
    --contrast-color: #3a255d;
    --contrast-color-shadow: #3b255d2c; 
    --contrast-color2: #6a2dcc; 
    --positive-color: #2ac670; 
            
    --tittle1: whitesmoke; 
    --tittle2: #2ac4dd; 

    --circle-color-shadow: rgba(42, 196, 221,0.15);
    --circle-color-shadow-two: rgba(42, 196, 221,0.05)
}









.background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://biomedia.net/wp-content/uploads/2024/09/AdobeStock_783974597-scaled.jpeg);
    background-repeat: no-repeat;
    background-size: cover;  
    opacity: 1;
}
.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.login-container{
    background: linear-gradient(to right, var(--dark2), var(--contrast-color), var(--dark2));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
}
.img-container-logo img{
    width: 100%;
    height: auto;
}
.login-container h3{
    text-align: center;
    font-weight: bold;
    color: var(--tittle2);
    font-size: 35px;
    letter-spacing: 1px;
    transform: translate(0%, -60%);
    font-family: "Quicksand", sans-serif;
}
.user-container p{
    padding: 5px;
    color: var(--light1);
    margin-bottom: 0rem;
}
.input-container{
    height: 3rem;
    position: relative;
}
.input-container img{
    width: 45px;
    height: 45px;
    padding-bottom: 5px;
}
.input-container input{
    border: none;
    background: none;
    color:var(--light1);
    font-size: 18px;
    padding: 15px;
    outline: none;
}
.input-container::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: var(--light1);
}   

.forgot-password{
    color: var(--light1);
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.4rem;
}
.button-login{
    width: 15rem;
    height: 2.5rem;
    background-color: var(--contrast-color2);
    pad: 20px;
    border: var(--contrast-color2);
    border-radius: 4px;
    color: var(--light1);
}
.button-container{
    margin-top: 4rem;
}