.barra-ricerca {
  background-color: var(--contrast-color);
  box-shadow: 0 4px 10px var(--dark1);
  height: 5rem;
  padding-top: 15px;
  padding-bottom: 15px;
  padding: 15px 20px 15px 20px;
  border-radius: 8px;
  width: 98%;
  margin: 2rem 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  padding: 12px 15px;
  font-size: 16px;
  color: #6a2dcc;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Effetto hover */
select:hover {
  background-color: #6a2dcc;
  color: #fff;
  box-shadow: 0 4px 10px rgba(106, 45, 204, 0.4);
}










/* From Uiverse.io by alexruix */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form ion-icon {
  font-size: 50px;
  color: #6a2dcc !important;
}

.input-group {
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
}

/* .input {
  min-height: 50px;
  width: 35rem;
  padding: 0 1rem;
  font-size: 17px;
  font-weight: bolder;
  border-radius: 6px 0 0 6px;
  border: none;
  background-color: var(--tittle1);
} */
.input {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  border-radius: 12px 0 0 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  background-color: var(--tittle1);
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

.button--submit {
  font-size: 18px;
  background-color: var(--contrast-color2);
  color: var(--tittle1);
  width: 13rem;
  border: 2px solid #6a2dcc;
  border-left: none;
  border-radius: 12px;
  transition: all 0.3s;
}

.button--submit:hover {
  opacity: 0.8;
}
/* #add-patient img{
  width: 40px;
  transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

#add-patient img:hover{
  transform: scale(1.1);
} */
.input:focus,
.input:focus-visible {
  border-color: var(--contrast-color2);
  outline: none;
}

.riga {
  height: 6rem;
  border-bottom: 1px solid lightgrey;
}
.riga:hover {
  background-color: var(--neutral-bg-color);
}
.table-content a img:hover {
  transform: scale(1.1);
}
.table-content a img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}
.content-table {
  overflow: auto;
  max-height: 500px;
}
.content-table::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}
.content-table::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.content-table::-webkit-scrollbar-thumb {
  background-color: var(--contrast-color-shadow);
  border-radius: 10px;
}
.content-table::-webkit-scrollbar-thumb:hover {
  background-color: var(--contrast-color2);
}










/* ! Tabelle */
.table-container{
  margin: 0 20px;
  padding-bottom: 20px;
}
.bg-white {
  background-color: white;
  border-radius: 0px 0px 8px 8px;
}
.pagination-controls{
  padding: 15px;
  display: flex;
  gap: 10px;
}
.pagination-controls .button-style{
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
}
.no-results-message {
  color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
