.card-storico{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}

.card-body-storico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 8px;
}