{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href='{% static "image/Favicon.png" %}' type="image/x-icon">

    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    
    <title>Età Metabolica - Referti</title>

    <!-- Css Import -->
    <link rel="stylesheet" href="{% static 'css/Componenti.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartella_paziente/eta_metabolica/etaMetabolica.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartella_paziente/eta_metabolica/referti.css' %}">

    <!-- Bootstrap import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <!-- CDN import -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdf-lib/dist/pdf-lib.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>  
    
    <!-- JS import -->
    <script src="{% static 'js\cartella_paziente\etaMetabolica\generaPdf.js' %}" type="module" defer></script>
</head>

<body>
    <!-- LOADER -->
    {% include 'components/loader.html' %}

    <!-- NAVBAR -->
    {% include 'components/navBarPatient.html' %}

    <main>

        <!-- MAIN MENU TRACE -->
        <div class="main-title-nav">
            
            <div class="back-tittle">
                <input type="hidden" id="userData"
                    data-name="{{ persona.name|title }}"
                    data-surname="{{ persona.surname|title }}"
                    data-age="{{ persona.chronological_age|default:'N/A' }}"
                    data-phone="{{ persona.phone|default:'Non specificato.' }}"
                    data-email="{{ persona.email|default:'Non specificata.' }}"
                    data-dob="{{ persona.dob|date:'d/m/Y' }}"
                    data-cf="{{ persona.codice_fiscale|default:'N/A' }}"
                    data-place_birth="{{ persona.place_of_birth|default:'Non specificata.' }}"
                    data-gender="{{ persona.gender|default:'N/B' }}"
                >
                <a id="back" href="{% url 'composizione' persona.id %}"><img src="{% static 'image/Arrow_Back.png' %}"></a>
                <h2 class="main-welcome-title">
                    <span data-surname="{{ persona.surname|title }}">{{ persona.surname|title }}</span>
                    <span data-name="{{ persona.name|title }}">{{ persona.name|title }}</span> |
                    <span data-age="{{ persona.chronological_age }}">Età: {{ persona.chronological_age }}</span>
                    {% if persona.phone and persona.email %}
                    |
                      <span class="phone_span" id="phone" data-phone="{{ persona.phone }}">
                        <img src="{% static 'image/Phone.png' %}" width="20px" height="20px">
                        Telefono: {{ persona.phone }}
                      </span> |
                      <span class="email_span" id="email" data-email="{{ persona.email }}">
                        <img src="{% static 'image/Email_Violet.png' %}" width="20px" height="20px">
                        Email: {{ persona.email }}
                      </span>
                    {% endif %}
                </h2>
            </div>
           
            <div class="main-menu-trace">
                <a href="{% url 'HomePage' %}">
                    <img src="{% static 'image/Home.png' %}" alt="Home Page" title="Home Page" />
                </a>                    
                <p>»</p>
                <p>
                    <a href="{% url 'cartella_paziente' persona.id %}">Cartella Paziente</a>
                </p>
               
                <p>»</p>
                <a href="{% url 'composizione' persona.id %}">Età Metabolica</a>
                <p>»</p>
                <p class="breadcrumb">Elenco Referti</p>
            </div>
        </div>

        <!-- TABELLA REFERTI -->
        <div class="contenitore-tabella" style="margin-top: 2rem;">
            <div class="recent-patients" id="card-style">
                <div class="table-container">
                    <div class="table-header">
                        <p>Posizione</p>
                        <p>Punteggio Calcolo</p>
                        <p>Data Referto</p>
                        <p>Scarica Referto Avanzato</p>
                        <p>Scarica Referto Base</p>
                    </div>

                    <div class="table-content">
                        {% for referto in referti %}
                        <div class="riga-container">
                            <input type="hidden" id="datiReferto" 
                                data-referto-id="{{ referto.id|default:'N/A' }}" 
                                data-referto-date="{{ referto.data_referto|date:'d/m/Y' }}"
                                data-bmi="{{ referto.bmi|default:'Non specificato.' }}"
                                data-grasso="{{ referto.grasso|default:'Non specificato.' }}"
                                data-acqua="{{ referto.acqua|default:'Non specificato.' }}"
                                data-massa_muscolare="{{ referto.massa_muscolare|default:'Non specificato.' }}"
                                data-bmr="{{ referto.bmr|default:'Non specificato.' }}"
                                data-whr="{{ referto.whr|default:'Non specificato.' }}"
                                data-whtr="{{ referto.whtr|default:'Non specificato.' }}"
                                data-p_fisico="{{ referto.p_fisico|default:'Non specificato.' }}"
                                data-altezza="{{ referto.height|default:'Non specificato.' }}"
                                data-peso-corporeo="{{ referto.weight|default:'Non specificato.' }}"
                                data-bmi_detection_date="{{ referto.bmi_detection_date|date:'d/m/Y'|default:'Nessuna data presente.' }}"
                                data-girth_value="{{ referto.girth_value|default:'Non specificato.' }}"
                                data-girth_date="{{ referto.girth_date|date:'d/m/Y'|default:'Nessuna data presente.' }}"
                                data-girth_notes="{{ referto.girth_notes|default:'Nessuna nota presente.' }}"
                                data-sport_frequency="{{ referto.sport_frequency|default:'Non specificato.' }}"
                                data-livello_sedentarieta="{{ referto.livello_sedentarieta|default:'Non specificato.' }}"
                                data-massa_ossea="{{ referto.massa_ossea|default:'Non specificato.' }}"
                                data-eta_metabolica="{{ referto.eta_metabolica|default:'Non specificato.' }}"
                                data-grasso_viscerale="{{ referto.grasso_viscerale|default:'Non specificato.' }}"
                                data-glicemia="{{ referto.glicemia|default:'Non specificato.' }}"
                                data-ogtt1="{{ referto.ogtt1|default:'Non specificato.' }}"
                                data-ogtt2="{{ referto.ogtt2|default:'Non specificato.' }}"
                                data-emoglobina_g="{{ referto.emoglobina_g|default:'Non specificato.' }}"
                                data-insulina_d="{{ referto.insulina_d|default:'Non specificato.' }}"
                                data-curva_i="{{ referto.curva_i|default:'Non specificato.' }}"
                                data-homa_ir="{{ referto.homa_ir|default:'Non specificato.' }}"
                                data-tyg="{{ referto.tyg|default:'Non specificato.' }}"
                                data-c_tot="{{ referto.c_tot|default:'Non specificato.' }}"
                                data-hdl="{{ referto.hdl|default:'Non specificato.' }}"
                                data-ldl="{{ referto.ldl|default:'Non specificato.' }}"
                                data-trigliceridi="{{ referto.trigliceridi|default:'Non specificato.' }}"
                                data-ast="{{ referto.ast|default:'Non specificato.' }}"
                                data-alt="{{ referto.alt|default:'Non specificato.' }}"
                                data-ggt="{{ referto.ggt|default:'Non specificato.' }}"
                                data-bili_d="{{ referto.bili_d|default:'Non specificato.' }}"
                                data-bili_in="{{ referto.bili_in|default:'Non specificato.' }}"
                                data-pcr="{{ referto.pcr|default:'Non specificato.' }}"
                                data-hgs="{{ referto.hgs|default:'Non specificato.' }}"
                                data-sii="{{ referto.sii|default:'Non specificato.' }}"
                                data-c_plasmatico="{{ referto.c_plasmatico|default:'Non specificato.' }}"

                            >
                            <p>{{ forloop.counter|add:referti.start_index|add:"-1" }}</p> 
                            <p>{{ referto.punteggio_finale|default:"Non Calcolato." }}</p>
                            <p>{{ referto.data_referto|date:"d/m/Y" }}</p>
                            <p>
                                <a href="#" data-referto-id="{{ referto.id }}"
                                    data-referto-date="{{ referto.data_referto|date:'d/m/Y' }}" id="pdfAvanzato">
                                    <img src="{% static 'image/Referto_Scarica.png' %}" alt="Referto Avanzato" title="Referto Avanzato" />
                                </a>
                            </p>
                            <p>
                                <a href="#" data-referto-id="{{ referto.id }}" 
                                    data-referto-date="{{ referto.data_referto|date:'d/m/Y' }}" id="pdfBase">
                                    <img src="{% static 'image/Referto_Scarica.png' %}" alt="Referto Base" title="Referto Base"/>
                                </a>
                            </p>
                        </div>
                        {% empty %}
                        <p class="text-center mb-2 mt-2">Nessun referto recente trovato.</p>
                        {% endfor %}
                    </div>

                    <!-- Sezione paginazione -->
                    <div class="pagination_tabella">
                        {% if referti.has_previous %}
                            <a class="previous" href="?page={{ referti.previous_page_number }}">&lt; Previous</a>
                        {% else %}
                            <span class="previous disabled">&lt; Previous</span>
                        {% endif %}
                    
                        {% for num in referti.paginator.page_range %}
                            {% if referti.number == num %}
                                <span class="current">{{ num }}</span>
                            {% else %}
                                <a href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                    
                        {% if referti.has_next %}
                            <a class="next" href="?page={{ referti.next_page_number }}">Next &gt;</a>
                        {% else %}
                            <span class="next disabled">Next &gt;</span>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
</body>
</html>