<!-- templates/components/loader.html -->
{% load static %}
<div id="loading-wrapper">
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div>

<script src="{% static 'includes/js/spinner.js' %}"></script>