<!-- templates/components/loader.html -->
{% load static %}
<div id="loading-wrapper">
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="spin-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div>

<!-- Spinner JS -->
<script src="{% static 'js/components/spinner.js' %}"></script>