<!-- templates/components/navBar.html -->
{% load static %}
<header>
    <nav class="col-md-12 d-flex justify-content-between align-items-center nav-bar">
        <!-- Logo Section -->
        <div class="col-md-2 d-flex nav-bar-logo">
            <a href="{% url 'HomePage' %}">
                <img src="{% static 'includes/icone/Logo.png' %}" alt="logo_img" title="BioVitalAge®" />
            </a>
        </div>

        <!-- Links Section -->
        <div class="col-md-8 nav-bar-linkage">
            <a href="{% url 'Risultati' %}"
                class="{% if request.resolver_match.url_name == 'Risultati' %}active-link{% endif %}">
                Pazienti
            </a>
        </div>

        <!-- User Section -->
        <div class="col-md-2 nav-bar-user" id="userContainer">
            <h3>Dott. {{ dottore }}</h3>
            
            <div class="img-container-user-nav-bar">
                <img id="userImg" src="{% static 'includes/icone/username.png' %}" alt="user">
            </div>
            <div class="nav-bar-user-modal" id="userModal">
                <button id="profileBtn" class="nav-bar-user-modal-btn" onclick="window.location.href='{% url 'profile' %}'">Profilo</button>
                <button id="logoutBtn" class="nav-bar-user-modal-btn" onclick="window.location.href='{% url 'logout' %}'">Disconnettiti</button>
            </div>
        </div>
    </nav>
</header>

<!-- js import -->
<script>
    /*  -----------------------------------------------------------------------------------------------
        Modal User
    --------------------------------------------------------------------------------------------------- */
    const userContainer = document.getElementById("userContainer");
    const userModal = document.getElementById("userModal");

    userContainer.addEventListener("mouseenter", () => {
        userModal.classList.add("show");
    });

    userContainer.addEventListener("mouseleave", () => {
        userModal.classList.remove("show");
    });
</script>