/* FONT STYLE */
* p,
* input,
* select{
    font-family: 'Poppins', sans-serif !important;
}
* h3{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 23px !important;
    font-weight: 600 !important;
}
* span{
    font-family: 'Montserrat', sans-serif !important;
}



.container-grafici {
    padding: 40px 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.container-grafici h3 {
    padding: 20px;
}
.card_grafico {
    width: 98%;
    background-color: var(--card-color);
    height: 400px;
    margin: 1rem auto;
    border-radius: 8px;
}
.card_grafico h3 {
    color: var(--dark2);
    font-weight: bold;
    padding: 10px 20px 20px 20px;
} 
canvas {
    max-height: 320px;
    margin-top: -1rem;
    padding: 0px 20px;
}
.container_box {
    display: flex;
    justify-content: space-between;
}
#grafico-vuoto-overlay,
#overlay-glicemico,
#overlay-lipidico,
#overlay-epatico,
#overlay-infiammazione{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.3); 
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
    font-size: 18px; 
    color: #fff; 
    z-index: 999;
    display: none;
}

