{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- Favicon -->
    <link rel="shortcut icon" href='{% static "includes/icone/favicon.png" %}' type="image/x-icon">
    
    <title>Composizione Corporea</title>

    <!-- Css Import -->
    <link rel="stylesheet" href="{% static 'includes/css/Componenti.css' %}">
    <link rel="stylesheet" href="{% static 'includes/css/eta_metabolica/etaMetabolica.css' %}">
    <link rel="stylesheet" href="{% static 'includes/css/eta_metabolica/grafici.css' %}">

    <!-- Bootstrap import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <!--- JS Import --->
    <!-- CDN import -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdf-lib/dist/pdf-lib.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>  
    
</head>

<body>
    <!-- LOADER -->
    {% include 'components/loader.html' %}

    <!-- NAVBAR -->
    {% include 'components/navBarPatient.html' %}

    <main>

        <!-- MAIN MENU TRACE -->
        <div class="main-title-nav">
            <div class="back-tittle">
                <a id="back" href="{% url 'composizione' persona.id %}"><img src="{% static 'includes/icone/arrowBack.png' %}"></a>
                <h2 class="main-welcome-title">
                    <span>{{ persona.surname|title }}</span>
                    <span>{{ persona.name|title }}</span> |
                    <span>Età: {{ persona.chronological_age }}</span>
                    {% if persona.phone and persona.email %}
                    |
                      <span class="phone_span">
                        <img src="{% static 'includes/icone/phone.png' %}" width="20px" height="20px">
                        Telefono: {{ persona.phone }}
                      </span> |
                      <span class="email_span">
                        <img src="{% static 'includes/icone/emailNew.png' %}" width="20px" height="20px">
                        Email: {{ persona.email }}
                      </span>
                    {% endif %}
                </h2>
            </div>
           
            <div class="main-menu-trace">
                <a href="{% url 'HomePage' %}">
                    <img src="{% static 'includes/icone/homePage.png' %}" alt="Home Page" title="Home Page" />
                </a>                    
                <p>»</p>
                <p>
                    <a href="{% url 'cartella_paziente' persona.id %}">Cartella Paziente</a>
                </p>
               
                <p>»</p>
                <a href="{% url 'composizione' persona.id %}">Età Metabolica</a>
                <p>»</p>
                <p>Grafici Andamento</p>
            </div>
        </div>

        <!-- CONTAINER GRAFICO COMPOSIZIONE CORPOREA-->
        <div class="card_grafico">  
            <h3>Composizione Corporea</h3>

            <canvas id="composizioneChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
           
            <script>
                const ctx = document.getElementById('composizioneChart').getContext('2d');
                const composizioneChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giug', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'], 
                        datasets: [
                            {
                                label: 'BMI',
                                data: [23.5, 23.1, 22.8, 22.5, 23.5, 23.1, 22.8, 22.5, 23.5, 23.1, 22.8, 22.5],
                                borderColor: '#6a2dcc',
                                fill: false
                            },
                            {
                                label: 'Massa Muscolare (%)',
                                data: [40, 41, 42, 42.5, 40, 41, 42, 42.5, 40, 41, 42, 42.5],
                                borderColor: '#9b59b6',
                                fill: false
                            },
                            {
                                label: 'Grasso (%)',
                                data: [28, 27.5, 26, 25.2, 28, 27.5, 26, 25.2, 28, 27.5, 26, 25.2],
                                borderColor: '#3a255d',
                                fill: false
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        layout: {
                            padding: {
                                bottom: 30
                            }
                        },
                        plugins: {
                            legend: {
                                position: 'bottom'
                            },
                            title: {
                                display: true,
                                text: 'Andamento Composizione Corporea'
                            }
                        }
                    }

                });
            </script>
                
        </div>

        <!-- CONTAINER GRAFICO PROFILO GLICEMICO E INSULINICO -->
        <div class="card_grafico">  
            <h3>Profilo Glicemico e Insulinico</h3>

            <canvas id="profiloGlicemicoSemplificato"></canvas>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
            const ctxx = document.getElementById('profiloGlicemicoSemplificato').getContext('2d');
            
            const profiloChart = new Chart(ctxx, {
              type: 'line',
              data: {
                labels: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giug', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'], // 📅 Date dei referti
                datasets: [
                  {
                    label: 'Glicemia a digiuno (mg/dl)',
                    data: [90, 95, 92, 88, 90, 95, 92, 88, 90, 95, 92, 88],
                    borderColor: '#6a2dcc',
                    backgroundColor: '#6a2dcc',
                    fill: false
                  },
                  {
                    label: 'HbA1c (%)',
                    data: [5.8, 5.7, 5.6, 5.5, 5.8, 5.7, 5.6, 5.5, 5.8, 5.7, 5.6, 5.5, ],
                    borderColor: '#9b59b6',
                    backgroundColor: '#9b59b6',
                    fill: false
                  },
                  {
                    label: 'Insulina a digiuno (µU/mL)',
                    data: [15, 13, 12, 11,15, 13, 12, 11,15, 13, 12, 11],
                    borderColor: '#3a255d ',
                    backgroundColor: '#3a255d ',
                    fill: false
                  }
                ]
              },
              options: {
                responsive: true,
                layout: {
                            padding: {
                                bottom: 30
                            }
                        },
                plugins: {
                  legend: {
                    position: 'bottom' // ⬇️ Legenda sotto il grafico
                  },
                  title: {
                    display: true,
                    text: 'Andamento Profilo Glicemico e Insulinico'
                  }
                },
                scales: {
                  y: {
                    beginAtZero: false,
                    title: {
                      display: true,
                      text: 'Valori Clinici'
                    }
                  }
                }
              }
            });
            </script>
            

                
        </div>

        <!-- PROFILO LIPIDICO  -->
        <div class="card_grafico">  
          <h3>Profilo Lipidico</h3>
        
          <canvas id="profiloLipidicoChart"></canvas>
        
          <script>
            const ctxLipidi = document.getElementById('profiloLipidicoChart').getContext('2d');
        
            new Chart(ctxLipidi, {
              type: 'bar',
              data: {
                labels: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giug', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'], // 📅 Date referti
                datasets: [
                  {
                    label: 'Colesterolo Totale',
                    data: [210, 205, 198, 202, 210, 205, 198, 202, 210, 205, 198, 202],
                    backgroundColor: '#3a255d'  /* viola scuro */
                  },
                  {
                    label: 'HDL',
                    data: [55, 50, 52, 54, 55, 50, 52, 54, 55, 50, 52, 54],
                    backgroundColor: '#6a2dcc'  /* viola medio  */
                  },
                  {
                    label: 'LDL',
                    data: [130, 125, 120, 123, 130, 125, 120, 123, 130, 125, 120, 123],
                    backgroundColor: '#9b59b6' /* viola medio-chiaro */
                  },
                  {
                    label: 'Trigliceridi',
                    data: [160, 150, 140, 145, 160, 150, 140, 145, 160, 150, 140, 145],
                    backgroundColor: '#a29bfe' /* viola chiaro */
                  }
                ]
              },
              options: {
                responsive: true,
                layout: {
                            padding: {
                                bottom: 30
                            }
                        },
                plugins: {
                  legend: {
                    position: 'bottom'
                  },
                  title: {
                    display: true,
                    text: 'Andamento del Profilo Lipidico'
                  }
                },
                scales: {
                  y: {
                    beginAtZero: false,
                    title: {
                      display: true,
                      text: 'mg/dL'
                    }
                  }
                }
              }
            });
          </script>
        </div>
        
        <!-- PROFILO METABOLICO EPATICO -->
        <div class="card_grafico">  
          <h3>Profilo Metabolico Epatìco</h3>
        
          <canvas id="profiloEpaticoChart"></canvas>
        
          <script>
            const ctxFegato = document.getElementById('profiloEpaticoChart').getContext('2d');
        
            new Chart(ctxFegato, {
              type: 'bar',
              data: {
                labels: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giug', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'], // 📅 Date referti
                datasets: [
                  {
                    label: 'AST (U/L)',
                    data: [25, 28, 30, 27,25, 28, 30, 27, 25, 28, 30, 27],
                    backgroundColor: '#6a2dcc'
                  },
                  {
                    label: 'ALT (U/L)',
                    data: [32, 35, 37, 33, 32, 35, 37, 33, 32, 35, 37, 33],
                    backgroundColor: '#9b59b6'
                  },
                  {
                    label: 'GGT (U/L)',
                    data: [20, 18, 22, 19, 20, 18, 22, 19, 20, 18, 22, 19],
                    backgroundColor: '#3a255d'
                  },
                  {
                    label: 'Bilirubina Totale (mg/dL)',
                    data: [1.0, 1.1, 1.2, 1.0, 1.0, 1.1, 1.2, 1.0, 1.0, 1.1, 1.2, 1.0],
                    backgroundColor: '#a29bfe'
                  }
                ]
              },
              options: {
                responsive: true,
                layout: {
                            padding: {
                                bottom: 30
                            }
                        },
                plugins: {
                  legend: {
                    position: 'bottom'
                  },
                  title: {
                    display: true,
                    text: 'Andamento Profilo Metabolico Epatìco'
                  }
                },
                scales: {
                  y: {
                    beginAtZero: false,
                    title: {
                      display: true,
                      text: 'Valori Clinici'
                    }
                  }
                }
              }
            });
          </script>
        </div>
        
        <!-- INFIAMMAZIONE E STRESS -->
        <div class="card_grafico">  
          <h3>Infiammazione & Stress</h3>
        
          <canvas id="infiammazioneStressChart"></canvas>
        
          <script>
            const ctxInfiammazione = document.getElementById('infiammazioneStressChart').getContext('2d');
        
            new Chart(ctxInfiammazione, {
              type: 'bar',
              data: {
                labels: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giug', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'], // 📅 Mesi dei referti
                datasets: [
                  {
                    label: 'PCR (mg/L)',
                    data: [1.2, 1.5, 1.3, 1.1,1.2, 1.5, 1.3, 1.1,1.2, 1.5, 1.3, 1.1],
                    backgroundColor: '#6a2dcc'
                  },
                  {
                    label: 'HGS',
                    data: [80, 78, 76, 79,80, 78, 76, 79,80, 78, 76, 79],
                    backgroundColor: '#9b59b6'
                  },
                  {
                    label: 'SII',
                    data: [420, 390, 400, 410,420, 390, 400, 410, 420, 390, 400, 410],
                    backgroundColor: '#3a255d'
                  },
                  {
                    label: 'Colesterolo Plasmatico',
                    data: [190, 195, 192, 188,190, 195, 192, 188,190, 195, 192, 188],
                    backgroundColor: '#a29bfe'
                  }
                ]
              },
              options: {
                responsive: true,
                layout: {
                            padding: {
                                bottom: 30
                            }
                        },
                plugins: {
                  legend: {
                    position: 'bottom'
                  },
                  title: {
                    display: true,
                    text: 'Andamento Infiammazione e Stress'
                  }
                },
                scales: {
                  y: {
                    beginAtZero: false,
                    title: {
                      display: true,
                      text: 'Valori Clinici'
                    }
                  }
                }
              }
            });
          </script>
        </div>
    </main>

    <!-- Import CDN js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Import js script -->
    <script src="{% static 'includes/js/etaMetabolica/chart.js' %}"></script>
</body>
</html>