:root {
  --dark1: #0c042c;
  --dark2: #0c214b;
  --light1: #c3ccd4;
  --neutral-gray: #b0b8c1;
  --neutral-bg-color: rgba(176, 184, 193, 0.2);
  --contrast-color: #3a255d;
  --contrast-color-shadow: #3b255d2c;
  --contrast-color2: #6a2dcc;
  --positive-color: #2ac670;
  --tittle1: whitesmoke;
  --circle-color-shadow: rgba(42, 196, 221, 0.15);
}
main {
  height: 900px;
  position: relative;
}

.barra-ricerca {
  background-color: var(--contrast-color);
  box-shadow: 0 4px 10px var(--dark1);
  height: 5rem;
  padding-left: 1.4rem;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  width: 98%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
    padding: 12px 15px;
    font-size: 16px;
    color: #6a2dcc;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Effetto hover */
select:hover {
    background-color: #6a2dcc;
    color: #fff;
    box-shadow: 0 4px 10px rgba(106, 45, 204, 0.4);
}

/* form{
    display: flex;
}

form input {
    border: 1px solid lightgrey;
    border-radius: 8px;
    border-bottom: 2px solid var(--contrast-color2);
    width: 25rem;
    height: 3rem;
    padding: 10px;
    font-size: 18px;
    background-color: var(--tittle1);
    outline: none;
}
form button {
    height: 3rem;
    font-size: 18px;
    background-color: var(--contrast-color2);
    color: var(--tittle1);
    width: 10rem;
    border: none;
    border-radius: 8px;
} */

/* From Uiverse.io by alexruix */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form ion-icon {
  font-size: 50px;
  color: #6a2dcc !important;
}

.input-group {
  display: flex;
  align-items: center;
}
.input {
  min-height: 50px;
  width: 35rem;
  padding: 0 1rem;
  font-size: 17px;
  font-weight: bolder;
  border-radius: 6px 0 0 6px;
  border: none;
  background-color: var(--tittle1);
}

.button--submit {
  font-size: 18px;
  background-color: var(--contrast-color2);
  color: var(--tittle1);
  width: 10rem;
  border: 2px solid #6a2dcc;
  border-left: none;
  border-radius: 8px;
  transition: all 0.3s;
}

.button--submit:hover {
    opacity: 0.8;
}

.button-container{
  margin-right: 20px;
}

.input:focus,
.input:focus-visible {
  border-color: var(--contrast-color2);
  outline: none;
}

.risultati-ricerca {
  width: 98%;
  margin: auto;
  background-color: var(--tittle1);
  border-radius: 8px;
}
.table-placeholder {
  background-color: var(--contrast-color-shadow);
  padding: 10px 0px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cella {
  flex: 1;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: bold;
  color: var(--contrast-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cella p {
  padding-top: 20px;
}

.riga {
  height: 6rem;
  border-bottom: 1px solid lightgrey;
}
.riga:hover {
  background-color: var(--neutral-bg-color);
}
.cella a {
  color: var(--tittle1);
  border: none;
  padding: 10px;
}
.cella a img:hover {
  transform: scale(1.1);
}
.cella a img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}
.content-table {
  overflow: auto;
  max-height: 500px;
}
.content-table::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}
.content-table::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.content-table::-webkit-scrollbar-thumb {
  background-color: var(--contrast-color-shadow);
  border-radius: 10px;
}
.content-table::-webkit-scrollbar-thumb:hover {
  background-color: var(--contrast-color2);
}
