.main-title-nav a {
  color: var(--light1) !important;
  text-decoration: none !important;
  margin: 0 !important;
}


/* PERSONAL INFORMATION CARD STYLE*/
.container-datiPersonali {
  position: relative;
  width: 98%;
  background-color: var(--card-color);
  margin: 20px auto 0px auto;
}
.containerStyle {
  padding: 20px;
  border-radius: 8px;
}
.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header-card h3 {
  color: var(--contrast-color);
  font-size: 25px;
}

.button-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px 10px;
}

.container_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  gap: 10px;
}

.info_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  row-gap: 5px;
  width: 100%;
}

.other_container {
  display: flex;
  justify-content: space-between;
}

.subCard-container {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.Contact-Container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.card-subcard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 15px;
  width: 15rem;
}

.card-subcard p {
  margin: 0 !important;
}

.card-subcard span {
  display: block;
  color: var(--contrast-color);
  font-weight: bold;
}

.img-circle-container {
  border: 2px solid var(--contrast-color2);
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
}

.img-circle-container img {
  width: 30px;
  height: 30px;
}

#emailInput,
#phoneInput,
#associateStaffInput,
#lastVisitInput,
#upcomingVisitInput,
#bloodGroupInput {
  display: block;
  border: 1px solid var(--contrast-color2);
  outline: none;
  width: 90%;
  padding: 0 20px;
}

.alert {
  min-width: 250px;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  /* Default nascosto */
  transition: opacity 0.5s ease-in-out;
}

.alert.show {
  opacity: 1;
  /* Mostra la notifica */
}


/* CONTAINER FOR SEZIONI INTERNET */
.container-sezioniInterne {
  height: 380px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.cardDati {
  width: 50%;
  height: 100%;
  border-radius: 8px;
  background-color: var(--card-color);
  overflow: hidden;
}
.cartella-effect {
  width: 100%;
  height: 4rem;
  border-radius: 8px 8px 0px 0px;
  position: relative;
}
.cartella-effect h3 {
  background-color: var(--contrast-color-shadow);
  border-radius: 8px 0px 0px 0px;
  width: 100%;
  color: var(--contrast-color);
  padding: 20px 20px;
  border-bottom: 2px solid #505050;
  z-index: 0;
  height: 4.5rem;
  font-size: 25px;
}
.space {
  position: absolute;
  top: 1rem;
  right: 0;
  border-radius: 12px 8px 0px 0px;
  background-color: var(--card-color);
  width: 50%;
  z-index: 5;
  border: 2px solid #505050;
  border-bottom: none;
  border-right: none;
  height: 3.5rem;
}
.card-content {
  width: 102%;
  margin-left: -1%;
  height: 100%;
  margin-top: 0.5rem;
  background-color: var(--card-color);
  border: 2px solid #505050;
  border-top: none;
  position: relative;
}
.card-content img {
  position: absolute;
  right: 5rem;
  top: -1rem;
  width: 250px;
}
.card-content p {
  position: absolute;
  line-height: 1.8rem;
  letter-spacing: 1px;
  top: 2rem;
  left: 2rem;
  max-width: 50%;
}

.card-content a {
  position: absolute;
  top: 12rem;
  left: 2rem;
  text-decoration: none;
  color: var(--dark2);
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.card-content a::after {
  content: '➜';
  font-size: 20px;
  margin-left: 10px;
}

.card-content a:hover {
  transform: translate(20px, 0px);
}





/*  CARD BP, SUGAR, HEART, CHOLESTEROL */
.dashboard {
  margin-top: -1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card-graphic {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 420px;
  overflow: hidden;
}

.card-graphic .icon img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.card-graphic h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: var(--contrast-color);
}

.card-graphic p {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.container_chart_dashboard {
  width: 100%;
  height: 150px;
}

.card-graphic canvas {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-graphic .data {
  width: 100%;
}

.card-graphic .data table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}

.card-graphic .data table tr {
  display: flex;
  justify-content: space-between;
}

.card-graphic .data table td {
  text-align: left;
  padding: 5px;
}





/* STYLE TABELLA */

.contenitore-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contenitore-header h3 {
  color: var(--contrast-color);
}

.filtri-button {
  width: 29.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtri-button select {
  height: 2.5rem;
  border-radius: 8px;
  background-color: var(--card-color);
  border: 1px solid var(--contrast-color2);
  color: var(--dark2);
  padding: 5px;
  outline: none;
}




/* CARD CLOCK STYLE*/
.container-indicatori #card-style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-indicatori {
  margin-top: -1rem;
  display: grid;
  grid-template-columns: 50% 49.2%;
  gap: 15px;
  height: 390px;
}

.section-tittle {
  color: var(--contrast-color);
  font-size: 25px;
  padding: 20px;
}

.score-clock-graph {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 98%;
  height: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 13%;
  height: 52%;
  border-radius: 50%;
  margin: 16px;
  background: conic-gradient(black 0%, #e0e0e0 0%);
}

.inner {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 2;
  color: var(--contrast-color);
}

#clock-description {
  position: absolute;
  top: 110%;
  text-align: center;
  font-size: 18px;
  width: 105%;
  color: var(--dark2);
  padding-bottom: 10px;
}

/* ANALISI REPOPRT */
.card5 {
  background-color: var(--card-color) !important;
}

.card5 h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0px;
  color: var(--dark2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.blood-container div,
.exam-container div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.blood-container div img,
.exam-container div img {
  width: 40px;
  margin-right: 1rem;
}

.blood-container div p,
.exam-container div p {
  font-size: 18px;
}

.blood-container div img,
.exam-container div img {
  transition: transform 0.3s ease-in-out;
}

.blood-container div img:hover,
.exam-container div img:hover {
  transform: scale(1.1);
}

.card {
  overflow: hidden;
}

#adjust::after {
  content: '⟳';
}













/* DASBOARD 2 */
.dashboard2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  margin-top: -1rem;
}

.cardChart {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  overflow: hidden;
  height: 400px;
}

.cardChart h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.container-chart-dashboard2 {
  width: 100%;
  overflow: hidden;
  height: 295px;
}

.cardChart canvas {
  width: 100%;
  object-fit: cover;
}

.cardChart h2 {
  font-size: 25px;
  font-weight: bold;
  color: var(--dark2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px;
}

.contenitore-tabella {
  margin: 15px 0;
}

.recent-patients h2 {
  font-size: 25px;
  padding: 20px 0;
  font-weight: bold;
  color: var(--dark2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.conteiner-operation {
  padding: 20px;
  margin-top: -1rem;
  display: flex;
  gap: 20px;
  height: 300px;
}

.card7 {
  background-image: url(https://www.dimi.univr.it/documenti/Iniziativa/immagine/immagine268271.jpeg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.backdrop {
  position: absolute;
  top: 0rem;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 8px;
}

.card8 {
  background-image: url(https://www.3ds.com/assets/invest/2024-10/lsh-pharmaceutical-and-biotech-hero-banner-1920x600.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card8 h2,
.card7 h2 {
  z-index: 3;
  color: var(--tittle1);
  padding-left: 40px;
  padding-bottom: 60px;
  font-size: 25px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card8 button,
.card7 button {
  z-index: 3;
  margin-left: 2.5rem;
}

.risultati-ricerca {
  border: 1px solid var(--contrast-color-shadow);
}









/* ! Button modify */
/* From Uiverse.io by vinodjangid07 */
.Btn-modify {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: var(--contrast-color2);
  color: white;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: .3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.save-icon{
  width: 20px !important;
}

.Btn-modify:hover {
  color: transparent;
}

.Btn-modify:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn-modify:active {
  transform: translate(3px, 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}















.card-body {
  display: flex;
  flex-wrap: wrap;
}

.card-body p {
  width: 30%;
  font-size: 20px;
}

.button-grid a img {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 40px;
  height: 40px;
}

.button-grid a img:hover {
  transform: scale(1.1);
}

strong {
  color: var(--contrast-color);
}

.anagraphic_data h3 {
  margin: 0 !important;
  padding: 0 !important;
}

.container_data {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #0c214b;
  gap: 20px;
  padding: 20px;
  font-size: 1.1rem;
  background: var(--card-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field p:first-of-type {
  background-color: var(--contrast-color-shadow);
  border-radius: 8px;
  padding: 15px;
  color: var(--dark2);
  margin-bottom: -1rem;
  font-weight: bold;
  padding-bottom: 25px;
}

.field p:last-of-type {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 15px;
  padding-top: 15px;
  border-radius: 8px;
  font-size: 18px;
  color: var(--dark1);
  background-color: white;
}

.riga-container a img {
  width: 40px;
  transition: transform 0.3s ease-in-out;
}

.riga-container a img:hover {
  transform: scale(1.1);
}