.container-privacy-policy {
  max-width: 1444px;
  margin: 0 auto;
  margin-top: 25px;
  background: var(--card-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--contrast-color-shadow);
}

.container-privacy-policy h1,
.container-privacy-policy h2 {
  color: var(--dark2);
}

.container-privacy-policy p {
  color: var(--dark1);
  line-height: 1.6;
}

.container-privacy-policy a {
  color: var(--positive-color);
  text-decoration: none;
}
