/* ! ROOT */
:root {
  --dark1: #0c042c;
  --dark2: #0c214b;
  --light1: #c3ccd4;

  --neutral-gray: #b0b8c1;
  --neutral-bg-color: rgba(176, 184, 193, 0.2);
  --neutral-bg-color-contrast: rgba(124, 81, 149, 0.2);

  --contrast-color: #3a255d;
  --contrast-color-shadow: #3b255d2c;
  --contrast-color2: #6a2dcc;
  --positive-color: #2ac670;

  --tittle1: whitesmoke;
  --tittle2: #2ac4dd;

  --circle-color-shadow: rgba(42, 196, 221, 0.15);
  --circle-color-shadow-two: rgba(42, 196, 221, 0.05);
  --card-color: #f8f4fc;

  /* Range color */
  --negative-color-left: #8b1e3f;
  --negative-color-right: #c74b5b;
  --positive-color: #2ac670;
  --neutral-range-color: #d4a33e;
}

/* ! MODAL */
.modal-pdf-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.436);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-pdf-container.hidden {
  display: none;
}

.modal-pdf-content {
  background: white !important;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-pdf-content h2 {
  margin-bottom: 10px;
}

.modal-pdf-content p {
  margin-bottom: 20px;
}

.btn-pdf-close {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-pdf-close:hover {
  background-color: #0056b3;
}

.container-risultati {
  width: 98%;
  margin: 2rem auto;
}

.card-personal-info {
  background-color: var(--tittle1);
  border-radius: 8px;
  padding: 10px 20px;
}

.card-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-personal-info h3,
.exams-container h3 {
  color: var(--contrast-color);
  padding-bottom: 20px;
}

.detail-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detail-row p {
  font-size: 18px;
}

span {
  color: var(--contrast-color2);
  font-weight: bold;
  padding-right: 10px;
}

.exams-container {
  margin-top: 1rem;
  background-color: var(--card-color);
  border-radius: 5px;
  padding: 40px;
  margin: 25px;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px 0;
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

#indicator img {
  margin-top: -0.5rem;
}

.negativeTesto,
.extremeNegativeRange {
  color: var(--negative-color-right);
  width: 30%;
}

.extremeNegativeRange {
  text-align: right;
}

.positiveTesto {
  color: var(--positive-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.extremePositiveRange {
  color: var(--positive-color);
}

#middleTesto {
  width: 40%;
  color: var(--neutral-range-color);
}

#middleBar {
  width: 40%;
  left: 30%;
  background-color: var(--neutral-range-color);
}

.barra-container {
  background-color: var(--neutral-bg-color);
  border-radius: 8px;
  height: 1rem;
  position: relative;
  background-color: var(--negative-color-right);
}

.barra-container-none {
  background-color: var(--neutral-bg-color);
  border-radius: 8px;
  height: 1rem;
  position: relative;
}

.barra-pointer {
  height: 100%;
  position: absolute;
  top: 0;
  left: 30%;
  border-radius: 8px;
  transition: width 0.3s ease;
  width: 40%;
  background-color: var(--positive-color);
  z-index: 1;
}

.barra-pointer-two {
  background-color: var(--positive-color);
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  border-radius: 8px;
}

#barraSpecial {
  left: 50%;
  width: 50%;
}

#indicator {
  position: absolute;
  top: -1rem;
  z-index: 2;
  height: 2rem;
  width: 0.5rem;
  border-radius: 8px;
}

#screenshotBtn {
  margin: 0 0 20px 25px;
}

/*  -----------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------- */

.anagraphic_data h3 {
  margin: 0 !important;
  padding: 0 !important;
}

.container_box {
  display: flex;
  justify-content: space-between;
}

.info_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  row-gap: 20px;
  width: 100%;
}

.container_data {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #0c214b;
  gap: 20px;
  padding: 40px;
  font-size: 1.1rem;
  background: var(--card-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin: 0 25px;
  margin-top: 25px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field p:first-of-type {
  background-color: var(--contrast-color-shadow);
  border-radius: 8px;
  padding: 15px;
  color: var(--dark2);
  margin-bottom: -1rem;
  font-weight: bold;
  padding-bottom: 25px;
}

.field p:last-of-type {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 15px;
  padding-top: 15px;
  border-radius: 8px;
  font-size: 18px;
  color: var(--dark1);
  background-color: white;
}

/*  -----------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------- */

.indicator-container {
  border-radius: 8px;
}

.indicator-container {
  color: var(--dark2);
  font-size: 20px;
}

.nome {
  background-color: var(--contrast-color-shadow);
  padding: 20px;
  border-radius: 8px;
}

.nome span {
  color: var(--dark2);
  font-size: 20px;
}

.nome {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

#indicatori-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: -1.5rem;
  padding-bottom: 30px;
}

/*  SPINNER STAMPA STYLE */
#spinnerBackdrop {
  background-color: rgba(0, 0, 0, 0.584);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: none;
}

/*  -----------------------------------------------------------------------------------------------
  SPINNER 3
--------------------------------------------------------------------------------------------------- */
#snipperStampa {
  --blue: #5c86ff;
  --blue-dark: #275efe;
  --key: #fff;
  --paper: #eef0fd;
  --text: #d3d4ec;
  --tool: #fbc56c;
  --duration: 3s;
  position: relative;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-animation: bounce05 var(--duration) linear infinite;
  animation: bounce05 var(--duration) linear infinite;
}

#snipperStampa .slide {
  width: 92px;
  height: 20px;
  border-radius: 3px;
  margin-left: 14px;
  transform: translateX(14px);
  background: linear-gradient(var(--blue), var(--blue-dark));
  -webkit-animation: slide05 var(--duration) ease infinite;
  animation: slide05 var(--duration) ease infinite;
}

#snipperStampa .slide:before,
#snipperStampa .slide:after,
#snipperStampa .slide i:before {
  content: "";
  position: absolute;
  background: var(--tool);
}

#snipperStampa .slide:before {
  width: 2px;
  height: 8px;
  top: 6px;
  left: 100%;
}

#snipperStampa .slide:after {
  left: 94px;
  top: 3px;
  height: 14px;
  width: 6px;
  border-radius: 3px;
}

#snipperStampa .slide i {
  display: block;
  position: absolute;
  right: 100%;
  width: 6px;
  height: 4px;
  top: 4px;
  background: var(--tool);
}

#snipperStampa .slide i:before {
  right: 100%;
  top: -2px;
  width: 4px;
  border-radius: 2px;
  height: 14px;
}

#snipperStampa .paper {
  position: absolute;
  left: 24px;
  top: -26px;
  width: 40px;
  height: 46px;
  border-radius: 5px;
  background: var(--paper);
  transform: translateY(46px);
  -webkit-animation: paper05 var(--duration) linear infinite;
  animation: paper05 var(--duration) linear infinite;
}

#snipperStampa .paper:before {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  border-radius: 2px;
  height: 4px;
  transform: scaleY(0.8);
  background: var(--text);
  box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
}

#snipperStampa .keyboard {
  width: 120px;
  height: 56px;
  margin-top: -10px;
  z-index: 1;
  position: relative;
}

#snipperStampa .keyboard:before,
#snipperStampa .keyboard:after {
  content: "";
  position: absolute;
}

#snipperStampa .keyboard:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  background: linear-gradient(135deg, var(--blue), var(--blue-dark));
  transform: perspective(10px) rotateX(2deg);
  transform-origin: 50% 100%;
}

#snipperStampa .keyboard:after {
  left: 2px;
  top: 25px;
  width: 11px;
  height: 4px;
  border-radius: 2px;
  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
    60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
    22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
    60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  -webkit-animation: keyboard05 var(--duration) linear infinite;
  animation: keyboard05 var(--duration) linear infinite;
}

@keyframes bounce05 {
  85%,
  92%,
  100% {
    transform: translateY(0);
  }

  89% {
    transform: translateY(-4px);
  }

  95% {
    transform: translateY(2px);
  }
}

@keyframes slide05 {
  5% {
    transform: translateX(14px);
  }

  15%,
  30% {
    transform: translateX(6px);
  }

  40%,
  55% {
    transform: translateX(0);
  }

  65%,
  70% {
    transform: translateX(-4px);
  }

  80%,
  89% {
    transform: translateX(-12px);
  }

  100% {
    transform: translateX(14px);
  }
}

@keyframes paper05 {
  5% {
    transform: translateY(46px);
  }

  20%,
  30% {
    transform: translateY(34px);
  }

  40%,
  55% {
    transform: translateY(22px);
  }

  65%,
  70% {
    transform: translateY(10px);
  }

  80%,
  85% {
    transform: translateY(0);
  }

  92%,
  100% {
    transform: translateY(46px);
  }
}

@keyframes keyboard05 {
  5%,
  12%,
  21%,
  30%,
  39%,
  48%,
  57%,
  66%,
  75%,
  84% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  9% {
    box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  18% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  27% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  36% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key),
      60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
  }

  45% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  54% {
    box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  63% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
  }

  72% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  81% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
}

/* ! CSS Referto quiz */
.container-box-score {
  margin: 25px;
  background: var(--card-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--contrast-color-shadow);
}
.container-score {
  display: flex;
  gap: 20px;
  align-items: center;
}
h2 {
  color: var(--contrast-color);
  margin-bottom: 20px;
}
.score-box {
  background: var(--neutral-bg-color-contrast);
  padding: 15px;
  width: 45%;
  border-radius: 12px;
  margin: 15px 0;
  position: relative;
  text-align: left;
}
.score-label {
  font-weight: bold;
  color: var(--contrast-color2);
}
.track {
  width: 100%;
  height: 12px;
  background: var(--neutral-gray);
  border-radius: 6px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
.bar {
  height: 100%;
  width: 0%;
  background: var(--contrast-color2);
  transition: width 1s ease-out;
  box-shadow: 0 0 10px var(--circle-color-shadow);
}
.indicators {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 14px;
  color: var(--contrast-color);
}





/* REFERTO QUIZ */
.container-box-score h3{
  color: var(--dark2);
}
.secondType-scoreBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contrast-color-shadow);
  padding: 2px 10px;
  width: 45%;
  border-radius: 8px;
}
.secondType-scoreBox p:first-of-type{
  width: 65%;
  font-weight: bold;
  margin-top: 15px;
  padding-left: 10px;
}
.secondType-scoreBox .value{
  background-color: var(--card-color);
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
}






















/*  -----------------------------------------------------------------------------------------------
  SPINNER 1
--------------------------------------------------------------------------------------------------- */
/* #snipperStampa {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 8px solid #f3f3f3; 
  border-top: 8px solid var(--contrast-color); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

/*  -----------------------------------------------------------------------------------------------
  SPINNER 2
--------------------------------------------------------------------------------------------------- */
/* #snipperStampa {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#snipperStampa svg polyline {
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#snipperStampa svg polyline#back {
  fill: none;
  stroke: #ff000433;
}

#snipperStampa svg polyline#front {
  fill: none;
  stroke: #ed0e12;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
} */
