/* :root {
    --dark1: #0c042c;
    --dark2: #0c214b;
    --light1: #c3ccd4;
  
    --neutral-gray: #b0b8c1;
    --neutral-bg-color: rgba(176, 184, 193, 0.2);
    --neutral-bg-color-contrast: rgba(124, 81, 149, 0.2);
  
    --contrast-color: #3a255d;
    --contrast-color-shadow: #3b255d2c;
    --contrast-color2: #6a2dcc;
    --positive-color: #2ac670;
  
    --tittle1: whitesmoke;
    --tittle2: #2ac4dd;
  
    --circle-color-shadow: rgba(42, 196, 221, 0.15);
    --circle-color-shadow-two: rgba(42, 196, 221, 0.05);
    --text-color: rgb(34, 34, 34);
    --card-color: #f8f4fc;
} */


.main-title-nav a{
    text-decoration: none;
    color: var(--light1);
}
.container-grafici {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.container-grafici h3{
    padding: 20px;
}
.card-grafico{
    width: 100%;
    background-color: var(--card-color);
    height: 400px;
    border-radius: 8px;
}
.card-grafico h3 {
    color: var(--dark2);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
.datiMassaCorporea-container{
    width: 98%;
    margin: auto;
    background-color: var(--card-color);
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
}
.datiMassaCorporea-container h3 {
    color: var(--dark2);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
canvas{
    max-height: 320px;
    margin-top: -1rem;
    padding: 0px 20px;
}
.container_box {
    display: flex;
    justify-content: space-between;
}
.info_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    row-gap: 20px;
    width: 100%;
}
.field{
    display: flex;
    flex-direction: column;
}
.field p:first-of-type {
      background-color: var(--contrast-color-shadow);
      border-radius: 8px;
      padding: 15px; 
      color: var(--dark2);
      margin-bottom: -1rem;
      font-weight: bold;
      padding-bottom: 25px;
}
.field p:last-of-type {
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding: 15px;
      padding-top: 15px;
      border-radius: 8px;
      font-size: 18px;
      color: var(--dark1);
      background-color: white;
}

.container-btn{
    background-color: var(--card-color);
    width: 98%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;    
}
.container-btn .button-style{
    width: 15rem;
    height: 3rem;
}