/* FONT STYLE */
* p,
* input,
* select{
    font-family: 'Poppins', sans-serif !important;
}
* h3{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 23px !important;
    font-weight: 600 !important;
}
* span{
    font-family: 'Montserrat', sans-serif !important;
}



.container-grafici {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.container-grafici h3 {
    padding: 20px;
}
.card-grafico {
    width: 100%;
    background-color: var(--card-color);
    height: 400px;
    border-radius: 8px;
}
.card-grafico h3 {
    color: var(--dark2);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
} 
canvas {
    max-height: 320px;
    margin-top: -1rem;
    padding: 0px 20px;
}
.container_box {
    display: flex;
    justify-content: space-between;
}
  

