/* FONT STYLE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* h3 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 23px !important;
  font-weight: 600 !important;
}
* span {
  font-family: "Montserrat", sans-serif !important;
}

/* STYLE CARD E SUB CARD */
.card-container {
  width: 98%;
  margin: auto;
  background-color: var(--card-color);
  padding: 20px;
  border-radius: 8px;
}
.flex-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.border-violet {
  width: 70px;
  height: 70px;
  padding: 15px;
  border: 2px inset var(--contrast-color2);
  border-radius: 100%;
  object-position: center;
  object-fit: cover;
}
.border-violet img{
  width: 100%;
}
.flex-row-statistic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-row-statistic p {
  font-size: 14px !important;
}
.sub-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.08);
}
.sub-card h3 {
  color: var(--contrast-color);
}
.container-title-badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.badge-gravita {
  padding: 0px 20px;
  text-align: center;
  margin-top: 0.5rem;
  color: white;
  border-radius: 8px;
}

.lieve {
  background: #4caf50;
}
.moderata {
  background: #ffc107;
  color: #000;
}

.grave-border {
  border-bottom: 4px solid #f44336;
}

.flex-layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.table-wrapper {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: #3b1e5e;
  color: white;
}
thead tr {
  text-align: center;
}
th,
td {
  padding: 12px 15px;
  text-align: center;
}
tbody tr {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
tbody tr:hover {
  background-color: #f9f9f9;
}
.appointment-note{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.btn {
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
}
.btn.edit {
  background-color: #f2e7fc;
  color: #6a1b9a;
}
.btn.delete {
  background-color: #fdecea;
  color: #d32f2f;
}
.btn:disabled{
    background-color: var(--contrast-color) !important;
    color: white !important;
}
.pagination_tabella{
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous,
.next{
    border: 1px solid #ddd;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 8rem;
    text-align: center;
}
.previous:hover,
.next:hover{
    background-color: #ddd;
}
.previous{
    border-radius: 4px 0px 0px 4px;
}
.next{
    border-radius: 0px 4px 4px 0px;
}
/*  PAGINATION  */
.pagination_tabella a,
.pagination_tabella span {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}
.pagination_tabella a {
    color: #333;
}
.pagination_tabella a:hover {
    background-color: #f0f0f0;
}
.pagination_tabella .current {
    background-color: var(--contrast-color);
    color: #fff;
    border-color: var(--contrast-color);
}
.pagination_tabella .disabled {
    color: #aaa;
    border-color: #ccc;
    cursor: default;
    pointer-events: none;
    background-color: #f8f8f8;
}


canvas {
  width: 100% !important;
  height: 300px !important;
}

.actions button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modifica {
  background-color: #2196f3;
  color: #fff;
}
.elimina {
  background-color: #f44336;
  color: #fff;
}

.tittle-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 20px;
  margin-bottom: 1rem;
  background-color: var(--contrast-color-shadow);
  border-radius: 8px;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.08);
}
.tittle-container img{
  width: 30px;
  height: 30px;
}
.tittle-container h3{
  color: var(--dark1);
  margin-top: 0.5rem;
}