<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='../../../../static/includes/icone/favicon.png' type="image/x-icon">
    <title>Cartella Paziente, {{ persona.name }}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'includes/Componenti.css' %}">
    <link rel="stylesheet" href="{% static 'includes/composizione.css' %}">

    <!-- Bootstrap import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'includes/js/spinner.js' %}" defer></script>
</head>

<body>
    <!-- Loader -->
    <div id="loading-wrapper">
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
    </div>

    <header>
        <div class="nav-bar-user-modal" id="userModal">
            <button id="nav-bar-user-modal-btn" class="nav-bar-user-modal-btn">log out</button>
        </div>

        <nav class="col-md-12 d-flex justify-content-between align-items-center nav-bar ">
            <div class="col-md-2 d-flex jus nav-bar-logo">
                <a href="{% url 'HomePage' %}">
                    <img src="{% static 'includes/icone/Logo.png' %}" alt="logo_img" title="BioVitalAge®"/>
                </a>
            </div>
            
            <div class="col-md-8 nav-bar-linkage">
                <a href="{% url 'Risultati' %}" id="active">Patients</a>
                <a href="{% url 'Calcolatore' %}">BioVitalAge Clock</a>
            </div>

            <div class="col-md-2 nav-bar-user">
                <h3>{{ dottore }}</h3>
                <div class="img-container-user-nav-bar">
                    <img id="userImg" src="{% static 'includes/icone/username.png' %}" alt="user">
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-title-nav">
            <div class="back-tittle">
                <a id="back" href="{% url 'Risultati' %}"><img src="{% static 'includes/icone/arrowBack.png' %}" alt=""></a>
                <h2 class="main-welcome-title">Composizione Corporea, {{ persona.name }} {{ persona.surname }}</h2>
            </div>
           
            <div class="main-menu-trace">
                <a href="{% url 'HomePage' %}">
                    <img src="{% static 'includes/icone/homePage.png' %}" alt="Home Page" title="Home Page" />
                </a>                    
                <p>»</p>
                <p>
                    <a href="{% url 'Risultati' %}">Pazienti</a>
                </p>
                <p>»</p>
                <p>
                    <a href="{% url 'cartella_paziente' persona.id %}">Cartella Paziente</a>
                </p>
               
                <p>»</p>
                <p>Composizione Corporea</p>
            </div>
        </div>

        <div class="datiMassaCorporea-container">
            <h3>Dati Massa Corporea Paziente</h3>
            <div class="container_box">
                <div class="info_container">
      
                    <div class="field">
                      <p>Name:&nbsp;</p>
                      <p>{{ persona.name }}</p>
                    </div>
      
                    <div class="field">
                      <p>Surname:&nbsp;</p>
                      <p>{{ persona.surname }}</p>
                    </div>
      
                    <div class="field">
                      <p>Codice Fiscale :&nbsp;</p>
                      <p>{{ persona.codice_fiscale }}</p>
                    </div>
    
                    <div class="field">
                      <p>Age:&nbsp;</p>
                      <p>{{ persona.chronological_age }}</p>
                    </div>

                    <div class="field">
                        <p>Altezza:</p>
                        <p>xxx</p>
                      </div>
        
      
                    <div class="field">
                      <p>Peso corporeo:</p>
                      <p>xxx</p>
                    </div>
            
                    <div class="field">
                      <p>Sport:</p>
                      <p>xxx</p>
                    </div>
      
                    <div class="field">
                      <p>Genere:</p>
                      <p>xxx</p>
                    </div>
      
                </div>
            </div>
        </div>

        <div class="container-grafici">
            <div class="card-grafico">
                <h3>Grasso Corporeo</h3>
                <canvas id="bmiChart"></canvas>
            </div>
            <div class="card-grafico">
                <h3>BMI</h3>
                <canvas id="grassoChart"></canvas>
            </div>
            <div class="card-grafico">
                <h3>Acqua Corporea</h3>
                <canvas id="acquaChart"></canvas>
            </div>
            <div class="card-grafico">
                <h3>Massa Muscolare</h3>
                <canvas id="massaChart"></canvas>
            </div>
        </div>
    </main>

    <!-- Import Js -->

    <script src="{% static 'includes/js/chartComposizione.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>