<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='../../../../static/includes/icone/favicon.png' type="image/x-icon">
    <title>Cartella Paziente, {{ persona.name }}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'includes/Componenti.css' %}">
    <link rel="stylesheet" href="{% static 'includes/composizione.css' %}">

    <!-- Bootstrap import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'includes/js/spinner.js' %}" defer></script>
</head>

<body>
    <!-- Loader -->
    <div id="loading-wrapper">
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="spin-wrapper">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
    </div>

    <!-- NAVBAR -->
    {% include 'includes/navbar.html' %}

    <main>
        <div class="main-title-nav">
            <div class="back-tittle">
                <a id="back" href="{% url 'Risultati' %}"><img src="{% static 'includes/icone/arrowBack.png' %}" alt=""></a>
                <h2 class="main-welcome-title">Composizione Corporea, {{ persona.name }} {{ persona.surname }}</h2>
            </div>
           
            <div class="main-menu-trace">
                <a href="{% url 'HomePage' %}">
                    <img src="{% static 'includes/icone/homePage.png' %}" alt="Home Page" title="Home Page" />
                </a>                    
                <p>»</p>
                <p>
                    <a href="{% url 'Risultati' %}">Pazienti</a>
                </p>
                <p>»</p>
                <p>
                    <a href="{% url 'cartella_paziente' persona.id %}">Cartella Paziente</a>
                </p>
               
                <p>»</p>
                <p>Composizione Corporea</p>
            </div>
        </div>

        <div class="container-grafici">
            <canvas id="bmiChart"></canvas>
            <canvas id="grassoChart"></canvas>
            <canvas id="acquaChart"></canvas>
            <canvas id="massaChart"></canvas>
        </div>
    
        <script>
            /*  -----------------------------------------------------------------------------------------------
                Modal User
            --------------------------------------------------------------------------------------------------- */
            const userImg = document.getElementById("userImg");
            const userModal = document.getElementById("userModal");
            const userModalBtn = document.getElementById("nav-bar-user-modal-btn");

            function showModal() {
                userModal.classList.add("show");
            }

            userImg.addEventListener("mouseover", showModal);

            userModal.addEventListener("mouseout", () => {
                userModal.classList.remove("show");
            });

            userModalBtn.addEventListener("mouseover", showModal);            
            /*  -----------------------------------------------------------------------------------------------
            *   Script per la creazione dei grafici
            --------------------------------------------------------------------------------------------------- */
            // Colori
            const colors = {
                dark1: "#0c042c",
                dark2: "#0c214b",
                light1: "#c3ccd4",
                neutralGray: "#b0b8c1",
                contrastColor: "#3a255d",
                contrastColor2: "#6a2dcc",
                positiveColor: "#2ac670"
            };
    
            // BMI Chart
            const bmiCtx = document.getElementById('bmiChart').getContext('2d');
            new Chart(bmiCtx, {
                type: 'bar',
                data: {
                    labels: ['Grave magrezza', 'Sottopeso', 'Normopeso', 'Sovrappeso', 'Obeso Classe 1', 'Obeso Classe 2', 'Obeso Classe 3'],
                    datasets: [{
                        label: 'BMI',
                        data: [15, 17, 22, 27, 32, 37, 42],
                        backgroundColor: colors.contrastColor
                    }]
                }
            });
    
            // Grasso Corporeo
            const grassoCtx = document.getElementById('grassoChart').getContext('2d');
            new Chart(grassoCtx, {
                type: 'doughnut',
                data: {
                    labels: ['Insufficientemente grasso', 'Sano', 'Eccessivamente grasso', 'Obeso'],
                    datasets: [{
                        label: '% Grasso Corporeo',
                        data: [10, 25, 35, 50],
                        backgroundColor: [colors.contrastColor, colors.positiveColor, colors.contrastColor2, colors.dark2]
                    }]
                }
            });
    
            // Acqua Corporea
            const acquaCtx = document.getElementById('acquaChart').getContext('2d');
            new Chart(acquaCtx, {
                type: 'pie',
                data: {
                    labels: ['Donna', 'Uomo'],
                    datasets: [{
                        label: '% Acqua Corporea',
                        data: [55, 60],
                        backgroundColor: [colors.contrastColor2, colors.positiveColor]
                    }]
                }
            });
    
            // Massa Muscolare
            const massaCtx = document.getElementById('massaChart').getContext('2d');
            new Chart(massaCtx, {
                type: 'bar',
                data: {
                    labels: ['Massa Muscolare', 'Massa Grassa', 'Massa Ossea'],
                    datasets: [{
                        label: 'Composizione Corporea (kg)',
                        data: [45, 20, 5],
                        backgroundColor: [colors.positiveColor, colors.contrastColor, colors.contrastColor2]
                    }]
                }
            });
    
        </script>








    </main>

    <!-- Import Js -->
    <script src="{% static 'includes/js/cartellaPaziente.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>