{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'includes/favicon.png' %}" type="image/x-icon" />
    
    <title>BioVitalAge - Dati Base</title>

    <!-- Css Import -->
    <link rel="stylesheet" href="{% static 'includes/Componenti.css' %}">
    <link rel="stylesheet" href="{% static 'includes/dati_base.css' %}" />

    <!-- Bootstrap import -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet"/>

    <!-- JS import -->
    <script src="{% static 'includes/js/dati_base.js' %}" defer></script>
    <script src="{% static 'includes/js/spinner.js' %}" defer></script>

  </head>
  <body>

    <!-- Loader -->
    {% include 'components/loader.html' %}

    <!-- NAVBAR -->
    {% include 'components/navBar.html' %}

    <main>
      <div class="main-title-nav">
        <div class="back-tittle">
          <a id="back" href="{% url 'cartella_paziente' persona.id %}"><img src="{% static 'includes/icone/arrowBack.png' %}" alt="back_ico" title="Back to folder"></a>
          <h2 class="main-welcome-title">Dati Base {{ persona.name }} {{ persona.surname }}</h2>
        </div>
        <div class="main-menu-trace">
          <a href="{% url 'HomePage' %}">
            <img src="{% static 'includes/icone/homePage.png' %}" alt="Home Page" title="Home Page"/>
          </a>
          <span>»</span>
          <span>Cartella Paziente</span>
          <span>»</span>
          <span>Dati Base</span>
        </div>
      </div>

      <section class="container_data anagraphic_data">
        <h3>Anagraphic Data</h3>
        <div class="container_box">
          <div class="info_container">

              <div class="field">
                <p>Name:&nbsp;</p>
                <p>{{ persona.name }}</p>
              </div>

              <div class="field">
                <p>Surname:&nbsp;</p>
                <p>{{ persona.surname }}</p>
              </div>

              <div class="field">
                <p>Codice Fiscale :&nbsp;</p>
                <p>{{ persona.codice_fiscale }}</p>
              </div>

              <div class="field">
                <p>Città:&nbsp;</p>
                <p>{{ persona.place_of_birth }}</p>
              </div>

              <div class="field">
                <p>Age:&nbsp;</p>
                <p>{{ persona.chronological_age }}</p>
              </div>

              <div class="field">
                <p>Date of birth:&nbsp;</p>
                <p>{{ persona.dob }}</p>
              </div>
      
              <div class="field">
                <p>Phone:&nbsp;</p>
                <p>xxx</p>
              </div>

              <div class="field">
                <p>Associate staff:&nbsp;</p>
                <p>xxx</p>
              </div>

          </div>
        </div>
      </section>

      <section class="container_data table_data">
        <h3 style="margin-bottom: -20px;">Informative Tables</h3>

        <div>
          <div class="table-title-tools">
            <p class="table-title">Anthropometric data</p>
            
            <!-- Menu Tools con effetto translate e opacity -->
             <div class="container-menu">
               <div class="tools-menu-button" id="menu-1">
                   <button class="tools-table" onclick="closeMenuTools('menu-1')" style="margin-right: 20px;">
                       <img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi">
                   </button>
                   <button class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                   <button class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                   <button class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
               </div>
           
               <!-- Bottone per aprire il menu con animazione -->
               <button class="tools-table" onclick="openMenuTools('menu-1')">
                   <img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu" title="Apri Menu">
               </button>
             </div>
          </div>
      
          <div class="table-container">
              <div class="table-header">
                  <p>Height</p>
                  <p>Weight</p>
                  <p>BMI</p>
                  <p>BMI detection date</p>
              </div>
      
              <div class="table-content">
                <div class="riga-container">
                  <p>{{ persona.height }}</p>
                  <p>{{ persona.weight }}</p>
                  <p>{{ persona.bmi }}</p>
                  <p>{{ persona.bmi_detection_date }}</p>
                </div>
              </div>
          </div> 
        </div>
      
        <div>   
          <div class="table-title-tools">
            <p class="table-title">Abdominal girth</p>
            <div class="container-menu">
              <div class="tools-menu-button" id="menu-2">
                <button class="tools-table" onclick="closeMenuTools('menu-2')" style="margin-right: 20px;"><img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi"></button>
                <button class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                <button class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                <button class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
              </div>
  
              <button class="tools-table" onclick="openMenuTools('menu-2')"><img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu" title="Modifica"></button>
            </div>
          </div>

            <div class="table-container">
              <div class="table-header">
                <p>Girth value</p>
                <p>Date measurement</p>
                <p>Notes</p>
              </div>
            
              <div class="table-content">
                <div class="riga-container">
                  <p>{{ persona.girth_value }}</p>
                  <p>{{ persona.girth_date }}</p>
                  <p>{{ persona.girth_notes }}</p>
                </div>
            
              </div>
            </div>
      
        <h3 style="margin-top: 20px; margin-bottom: -20px;">Life style</h3>
      
        <div>
            <div class="table-title-tools">
              <p class="table-title">Alcohol</p>
              <div class="container-menu">
                <div class="tools-menu-button" id="menu-3">
                  <button class="tools-table" onclick="closeMenuTools('menu-3')" style="margin-right: 20px;"><img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
                </div>
  
                <button class="tools-table" onclick="openMenuTools('menu-3')"><img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu" title="Apri Menu"></button>
              </div>
            </div>
            
            <div class="table-container">
              <div class="table-header">
                <p>Quantity of cc per day</p>
                <p>Taken alcohol</p>
                <p>Data</p>
                <p>Notes</p>
              </div>
            
              <div class="table-content">
                <div class="riga-container">
                  <p>{{ persona.alcol }}</p>
                  <p>{{ persona.alcol_type }}</p>
                  <p>{{ persona.data_alcol }}</p>
                  <p>{{ persona.alcol_frequency }}</p>
                </div>
              </div>
            </div>
        </div>
      
        <div>
            <div class="table-title-tools">
              <p class="table-title">Smoking</p>
              <div class="container-menu">
                <div class="tools-menu-button" id="menu-4">
                  <button class="tools-table" onclick="closeMenuTools('menu-4')" style="margin-right: 20px;"><img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
                </div>
  
                <button class="tools-table" onclick="openMenuTools('menu-4')"><img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu" title="Apri Menu"></button>
              </div>
            </div>
            <div class="table-container">
              <div class="table-header">
                <p>Smoke</p>
                <p>Type of smoke</p>
                <p>Notes</p>
              </div>
            
              <div class="table-content">
                <div class="riga-container">
                  <p>{{ persona.smoke }}</p>
                  <p>{{ persona.smoke_frequency }}</p>
                  <p>{{ persona.reduced_intake }}</p>
                </div>
              </div>
            </div>
      
            <div class="table-title-tools">
              <p class="table-title">Sport</p>
              <div class="container-menu">
                <div class="tools-menu-button" id="menu-5">
                  <button class="tools-table" onclick="closeMenuTools('menu-5')" style="margin-right: 20px;"><img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
                </div>
  
                <button class="tools-table" onclick="openMenuTools('menu-5')"><img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu" title="Apri Menu"></button>
              </div>
            </div>
            <div class="table-container">
              <div class="table-header">
                <p>Sport played</p>
                <p>Level</p>
                <p>Frequency</p>
              </div>
            
              <div class="table-content">
                <div class="riga-container">
                  <p>{{ persona.sport }}</p>
                  <p>{{ persona.sport_livello }}</p>
                  <p>{{ persona.sport_frequency }}</p>
                </div>
              </div>
            </div>
                  
      
        <div>
            <div class="table-title-tools">
              <p class="table-title">Sedentarietà</p>
              <div class="container-menu">
                <div class="tools-menu-button" id="menu-6">
                  <button class="tools-table" onclick="closeMenuTools('menu-6')" style="margin-right: 20px;"><img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                  <button class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
                </div>
  
                <button class="tools-table" onclick="openMenuTools('menu-6')"><img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu" title="Apri Menu"></button>
              </div>
            </div>
            <div class="table-container">
              <div class="table-header">
                <p>Attività Sedentaria</p>
                <p>Level</p>
                <p>Notes</p>
              </div>
            
              <div class="table-content">
                <div class="riga-container">
                  <p>{{ persona.attivita_sedentaria }}</p>
                  <p>{{ persona.livello_sedentarieta }}</p>
                  <p>{{ persona.sedentarieta_nota }}</p>
                </div>
              </div>
            </div>
      
      </section>

      <section class="container_data blood_data">

        <div class="container-blood-input">
          <div class="container">
            <h3>Blood Group</h3>
            <input type="text" readonly id="blood_group" />
          </div>

          <div class="container">
              <h3>Factor rh</h3>
              <input type="text" readonly id="rh" />
          </div>
        </div>
    
      
        <button class="button-style"  id="btn_blood_group">Update</button>
        

      </section>
    </main>

    <script>
      // Aprire il menu con animazione fluida
      function openMenuTools(menuId) {
          const menu = document.getElementById(menuId);
          menu.style.display = 'flex'; 
          setTimeout(() => {
              menu.style.opacity = '1';
              menu.style.transform = 'translateX(0)';
          }, 10); // Ritardo per attivare la transizione dopo il cambio display
      }

      // Chiudere il menu con animazione fluida
      function closeMenuTools(menuId) {
          const menu = document.getElementById(menuId);
          menu.style.opacity = '0';
          menu.style.transform = 'translateX(20px)';
          setTimeout(() => {
              menu.style.display = 'none';
          }, 300); // Attendere il completamento della transizione prima di nascondere
      }
    </script>
  </body>
</html>
