<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../../../static/includes/icone/favicon.png"
      type="image/x-icon"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Css Import -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'includes/Componenti.css' %}">
    <link rel="stylesheet" href="{% static 'includes/dati_base.css' %}" />
    

    <!-- Bootstrap import -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet"/>

    <!-- JS import -->
    <script src="{% static 'includes/js/dati_base.js' %}" defer></script>
    <script src="{% static 'includes/js/spinner.js' %}" defer></script>

    <title>BioVitalAge - Dati Base</title>
  </head>
  <body>

    <!-- Loader -->
    <div id="loading-wrapper">
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="spin-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
      
    </div>   

    <!-- Header -->
    <header>
      <nav class="col-md-12 d-flex justify-content-between align-items-center nav-bar">
        <div class="col-md-2 d-flex jus nav-bar-logo">
          <a href="{% url 'HomePage' %}">
            <img src="{% static 'includes/icone/Logo.png' %}" alt="logo_img" title="BioVitalAge®"/>
          </a>
        </div>
        <div class="col-md-8 nav-bar-linkage">
          <a href="{% url 'Risultati' %}" id="active">Patients</a>
          <a href="{% url 'Calcolatore' %}">BioVitalAge Clock</a>
        </div>

        <div class="col-md-2 nav-bar-user">
          <h3>Demo User</h3>
          <div class="img-container-user-nav-bar">
            <img id="userImg" src="{% static 'includes/icone/username.png' %}" alt="user" />
          </div>
          <div class="nav-bar-user-modal" id="userModal">
            <button id="nav-bar-user-modal-btn" class="nav-bar-user-modal-btn"> log out </button>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="main-title-nav">
        <div class="back-tittle">
          <a id="back" href="{% url 'cartella_paziente' persona.id %}"><img src="{% static 'includes/icone/arrowBack.png' %}" alt="back_ico" title="Back to folder"></a>
          <h2 class="main-welcome-title">Dati Base {{ persona.name }} {{ persona.surname }}</h2>
        </div>
        <div class="main-menu-trace">
          <a href="{% url 'HomePage' %}">
            <img src="{% static 'includes/icone/homePage.png' %}" alt="Home Page" title="Home Page"/>
          </a>
          <span>»</span>
          <span>Cartella Paziente</span>
          <span>»</span>
          <span>Dati Base</span>
        </div>
      </div>

      <section class="container_data anagraphic_data">
        <h3>Anagraphic Data</h3>
        <div class="container_box">
          <div class="info_container">

              <div class="field">
                <p>Name:&nbsp;</p>
                <p>{{ persona.name }}</p>
              </div>

              <div class="field">
                <p>Surname:&nbsp;</p>
                <p>{{ persona.surname }}</p>
              </div>

              <div class="field">
                <p>Codice Fiscale :&nbsp;</p>
                <p>{{ persona.codice_fiscale }}</p>
              </div>

              <div class="field">
                <p>Città:&nbsp;</p>
                <p>{{ persona.place_of_birth }}</p>
              </div>

              <div class="field">
                <p>Age:&nbsp;</p>
                <p>{{ persona.chronological_age }}</p>
              </div>

              <div class="field">
                <p>Date of birth:&nbsp;</p>
                <p>{{ persona.dob }}</p>
              </div>
      
              <div class="field">
                <p>Phone:&nbsp;</p>
                <p>xxx</p>
              </div>

              <div class="field">
                <p>Associate staff:&nbsp;</p>
                <p>xxx</p>
              </div>

          </div>
      
      </section>

      <section class="container_data table_data">
        <h1>Informative Tables</h1>
        <div class="table-container">
          <div>
            <div class="table-title">Anthropometric data</div>

            <div class="responsive-table">

              <table>
                <thead>
                  <tr>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>BMI</th>
                    <th>BMI detection date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ persona.height }}</td>
                    <td>{{ persona.weight }}</td>
                    <td>{{ persona.bmi }}</td>
                    <td>{{ persona.bmi_detection_date }}</td>
                  </tr>
                </tbody>
              </table>

            </div>

            <div class="btn-edit-table-container">
              <button class="edit-save-btn">Edit</button>
            </div>

          </div>

          <div>
            <div class="table-title">Abdominal girth</div>
            <div class="responsive-table">
              <table>
                <thead>
                  <tr>
                    <th>Girth value</th>
                    <th>Date measurement</th>
                    <th>Notes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ persona.girth_value }}</td>
                    <td>{{ persona.girth_date }}</td>
                    <td>{{ persona.girth_notes }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="btn-edit-table-container">
              <button class="edit-save-btn">Edit</button>
            </div>
          </div>

          <h1 class="category-title">Life style</h1>

          <div>
            <div class="table-title">Alcohol</div>
            <div class="responsive-table">
              <table>
                <thead>
                  <tr>
                    <th>Quantity of cc per day</th>
                    <th>Taken alcohol</th>
                    <th>Data</th>
                    <th>Notes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>{{ persona.alcol }}</th>
                    <th>{{ persona.alcol_type }}</th>
                    <th>{{ persona.data_alcol }}</th>
                    <th>{{ persona.alcol_frequency }}</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="btn-edit-table-container">
              <button class="edit-save-btn">Edit</button>
            </div>
          </div>

          <div>
            <div class="table-title">Smoking</div>
            <div class="responsive-table">
              <table>
                <thead>
                  <tr>
                    <th>Smoke</th>
                    <th>Type of smoke</th>
                    <th>Notes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ persona.smoke}}</td>
                    <td>{{ persona.smoke_frequency}}</td>
                    <td>{{ persona.reduced_intake}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="btn-edit-table-container">
              <button class="edit-save-btn">Edit</button>
            </div>
          </div>

          <div>
            <div class="table-title">Sport</div>
            <div class="responsive-table">
              <table>
                <thead>
                  <tr>
                    <th>Sport played</th>
                    <th>Level</th>
                    <th>Frequency</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ persona.sport }}</td>
                    <td>{{ persona.sport_livello }}</td>
                    <td>{{ persona.sport_frequency }}</td>
                  </tr>
               
                </tbody>
              </table>
            </div>
            <div class="btn-edit-table-container">
              <button class="edit-save-btn">Edit</button>
            </div>
          </div>


          <div>
            <div class="table-title">Sedentarietà</div>
            <div class="responsive-table">
              <table>
                <thead>
                  <tr>
                    <th>Attività Sedentaria</th>
                    <th>Level</th>
                    <th>Notes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ persona.attivita_sedentaria }}</td>
                    <td>{{ persona.livello_sedentarieta  }}</td>
                    <td>{{ persona.sedentarieta_nota }}</td>
                  </tr>
               
                </tbody>
              </table>
            </div>
            <div class="btn-edit-table-container">
              <button class="edit-save-btn">Edit</button>
            </div>
          </div>
        </div>
      </section>

      <section class="container_data blood_data">
        <div class="container_input">
          <div class="blood_group_container">
            <h3>Blood Group</h3>
            <input type="text" readonly id="blood_group" />
          </div>
          <div class="rh_container">
            <h3>Factor rh</h3>
            <input type="text" readonly id="rh" />
          </div>
        </div>
        <div class="btn_blood_group_container">
          <button id="btn_blood_group">Update</button>
        </div>
      </section>
    </main>

  </body>
</html>
