{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'includes/icone/favicon.png' %}" type="image/x-icon" />
    
    <title>BioVitalAge - Dati Base</title>

    <!-- Css Import -->
    <link rel="stylesheet" href="{% static 'includes/Componenti.css' %}">
    <link rel="stylesheet" href="{% static 'includes/dati_base.css' %}" />

    <!-- Bootstrap import -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet"/>

    <!-- JS import -->
    <script src="{% static 'includes/js/dati_base.js' %}" defer></script>
    <script src="{% static 'includes/js/spinner.js' %}" defer></script>

  </head>
  <body>

    <!-- Loader -->
    {% include 'components/loader.html' %}

    <!-- NAVBAR -->
    {% include 'components/navBar.html' %}

    <main>
      <div class="main-title-nav">
        <div class="back-tittle">
          <a id="back" href="{% url 'cartella_paziente' persona.id %}"><img src="{% static 'includes/icone/arrowBack.png' %}" alt="back_ico" title="Back to folder"></a>
          <h2 class="main-welcome-title">Dati Base {{ persona.name }} {{ persona.surname }}</h2>
        </div>
        <div class="main-menu-trace">
          <a href="{% url 'HomePage' %}">
            <img src="{% static 'includes/icone/homePage.png' %}" alt="Home Page" title="Home Page"/>
          </a>
          <span>»</span>
          <span>Cartella Paziente</span>
          <span>»</span>
          <span>Dati Base</span>
        </div>
      </div>

      <section class="container_data anagraphic_data">
        <h3>Anagraphic Data</h3>
        <div class="container_box">
          <div class="info_container">

              <div class="field">
                <p>Name:&nbsp;</p>
                <p>{{ persona.name }}</p>
              </div>

              <div class="field">
                <p>Surname:&nbsp;</p>
                <p>{{ persona.surname }}</p>
              </div>

              <div class="field">
                <p>Codice Fiscale :&nbsp;</p>
                <p>{{ persona.codice_fiscale }}</p>
              </div>

              <div class="field">
                <p>Città:&nbsp;</p>
                <p>{{ persona.place_of_birth }}</p>
              </div>

              <div class="field">
                <p>Age:&nbsp;</p>
                <p>{{ persona.chronological_age }}</p>
              </div>

              <div class="field">
                <p>Date of birth:&nbsp;</p>
                <p>{{ persona.dob }}</p>
              </div>
      
              <div class="field">
                <p>Phone:&nbsp;</p>
                <p>xxx</p>
              </div>

              <div class="field">
                <p>Associate staff:&nbsp;</p>
                <p>xxx</p>
              </div>

          </div>
        </div>
      </section>

      <section class="container_data table_data">
        <h3 style="margin-bottom: -20px;">Informative Tables</h3>

        <form id="datiBaseForm" action="" method="POST">
          {% csrf_token %}
          <div class="table-title-tools">
            <p class="table-title">Anthropometric data</p>
            
            <!-- Menu Tools con effetto translate e opacity -->
             <div class="container-menu">
               <div class="tools-menu-button" id="menu-1">
                   <button class="tools-table" type="button" onclick="closeMenuTools('menu-1')" class="close-menu" style="margin-right: 20px;">
                       <img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi">
                   </button>
                   <button type="button" class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                   <button type="button" class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                   <button type="button" class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
               </div>
           
               <!-- Bottone per aprire il menu con animazione -->
               <button title="Apri Menu" type="button" class="tools-table" class="open-menu" onclick="this.title === 'Salva le modifiche' ? closeMenuTools('menu-1') : openMenuTools('menu-1')">
                   <img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu">
               </button>
             </div>
          </div>
      
          <div class="table-container">
              <div class="table-header">
                  <p>Height</p>
                  <p>Weight</p>
                  <p>BMI</p>
                  <p>BMI detection date</p>
              </div>
      
              <div class="table-content">
                <div class="riga-container">
                  <p><input name="height" type="text" value="{{ persona.height }}" disabled></p>
                  <p><input name="weight" type="text" value="{{ persona.weight }}" disabled></p>
                  <p><input name="bmi" type="text" value="{{ persona.bmi }}" disabled></p>
                  <p><input name="bmi_detection_date" type="date" value="{{ persona.bmi_detection_date|date:'Y-m-d' }}" disabled></p>
                  <input type="hidden" name="form_id" value="datiBaseForm1">
                </div>
              </div>
          </div> 
        </form>
     
        <form id="datiBaseForm1" method="POST">
          {% csrf_token %}
          <div class="table-title-tools">
            <p class="table-title">Abdominal girth</p>
            <div class="container-menu">
              <div class="tools-menu-button" id="menu-2">
                <button type="button" class="tools-table" type="button" onclick="closeMenuTools('menu-2')" style="margin-right: 20px;"><img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi"></button>
                <button type="button" class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                <button type="button" class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                <button type="button" class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
              </div>
  
              <button title="Apri Menu" type="button" class="tools-table" onclick="this.title === 'Salva le modifiche' ? closeMenuTools('menu-2') : openMenuTools('menu-2')"><img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu"></button>
            </div>
          </div>

            <div class="table-container">
              <div class="table-header">
                <p>Girth value</p>
                <p>Date measurement</p>
                <p>Notes</p>
              </div>
            
              <div class="table-content">
                <div class="riga-container">
                  <p> <input name="girth_value" type="text" value="{{ persona.girth_value }}" disabled> </p>
                  <p> <input name="girth_date" type="date" value="{{ persona.girth_date|date:'Y-m-d' }}" disabled> </p>
                  <p> <input name="girth_notes" type="text" value="{{ persona.girth_notes }}" disabled> </p>
                  <input type="hidden" name="form_id" value="datiBaseForm2">
                </div>
            
              </div>
            </div>
        </form>
        <h3 style="margin-top: 20px; margin-bottom: -20px;">Life style</h3>
  
        <form id="datiBaseForm2" method="POST">
          {% csrf_token %} 
            <div class="table-title-tools">
              <p class="table-title">Alcohol</p>
              <div class="container-menu">
                <div class="tools-menu-button" id="menu-3">
                  <button type="button" class="tools-table" type="button" onclick="closeMenuTools('menu-3')" style="margin-right: 20px;"><img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
                </div>
  
                <button title="Apri Menu" type="button" class="tools-table" onclick="this.title === 'Salva le modifiche' ? closeMenuTools('menu-3') : openMenuTools('menu-3')"><img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu"></button>
              </div>
            </div>
            
            <div class="table-container">
              <div class="table-header">
                <p>Quantity of cc per day</p>
                <p>Taken alcohol</p>
                <p>Data</p>
                <p>Notes</p>
              </div>
            
              <div class="table-content">
                <div class="riga-container">
                  <p> <input name="alcol" type="text" value="{{ persona.alcol }}" disabled> </p>
                  <p> <input name="alcol_type" type="text" value="{{ persona.alcol_type }}" disabled> </p>
                  <p> <input name="data_alcol" type="date" value="{{ persona.data_alcol|date:'Y-m-d' }}" disabled> </p>
                  <p> <input name="alcol_frequency" type="text" value="{{ persona.alcol_frequency }}" disabled> </p>
                  <input type="hidden" name="form_id" value="datiBaseForm3">
                </div>
              </div>
            </div>
        </form>
   
        <form id="datiBaseForm3" method="POST">
          {% csrf_token %} 
            <div class="table-title-tools">
              <p class="table-title">Smoking</p>
              <div class="container-menu">
                <div class="tools-menu-button" id="menu-4">
                  <button type="button" class="tools-table" type="button" onclick="closeMenuTools('menu-4')" style="margin-right: 20px;"><img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
                </div>
  
                <button title="Apri Menu" type="button" class="tools-table" onclick="this.title === 'Salva le modifiche' ? closeMenuTools('menu-4') : openMenuTools('menu-4')"><img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu"></button>
              </div>
            </div>
            <div class="table-container">
              <div class="table-header">
                <p>Smoke</p>
                <p>Type of smoke</p>
                <p>Notes</p>
              </div>
            
              <div class="table-content">
                <div class="riga-container">
                  <p> <input name="smoke" type="text" value="{{ persona.smoke }}" disabled> </p>
                  <p> <input name="smoke_frequency" type="text" value="{{ persona.smoke_frequency }}" disabled> </p>
                  <p> <input name="reduced_intake" type="text" value="{{ persona.reduced_intake }}" disabled> </p>
                  <input type="hidden" name="form_id" value="datiBaseForm4">
                </div>
              </div>
            </div>
        </form>        
      
        <form id="datiBaseForm4" method="POST">
          {% csrf_token %}
            <div class="table-title-tools">
              <p class="table-title">Sport</p>
              <div class="container-menu">
                <div class="tools-menu-button" id="menu-5">
                  <button type="button" class="tools-table" type="button" onclick="closeMenuTools('menu-5')" style="margin-right: 20px;"><img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
                </div>
  
                <button title="Apri Menu" class="tools-table" type="button" onclick="this.title === 'Salva le modifiche' ? closeMenuTools('menu-5') : openMenuTools('menu-5')"><img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu"></button>
              </div>
            </div>
            <div class="table-container">
              <div class="table-header">
                <p>Sport played</p>
                <p>Level</p>
                <p>Frequency</p>
              </div>
            
              <div class="table-content">
                <div class="riga-container">
                  <p> <input name="sport" type="text" value="{{ persona.sport }}" disabled> </p>
                  <p> <input name="sport_livello" type="text" value="{{ persona.sport_livello }}" disabled> </p>
                  <p> <input name="sport_frequency" type="text" value="{{ persona.sport_frequency }}" disabled> </p>
                  <input type="hidden" name="form_id" value="datiBaseForm5">
                </div>
              </div>
            </div>
        </form>

        <form id="datiBaseForm5" method="POST">
          {% csrf_token %}
            <div class="table-title-tools">
              <p class="table-title">Sedentarietà</p>
              <div class="container-menu">
                <div class="tools-menu-button" id="menu-6">
                  <button type="button" class="tools-table" type="button" onclick="closeMenuTools('menu-6')" style="margin-right: 20px;"><img src="{% static 'includes/icone/chiudi.png' %}" alt="Chiudi" title="Chiudi"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/aggiungi.png' %}" alt="Aggiungi" title="Aggiungi"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/modifica.png' %}" alt="Modifica" title="Modifica"></button>
                  <button type="button" class="tools-table"><img src="{% static 'includes/icone/cestino.png' %}" alt="Cestino" title="Cestino"></button>
                </div>
  
                <button title="Apri Menu" type="button" class="tools-table" title="Apri Menu" onclick="this.title === 'Salva le modifiche' ? closeMenuTools('menu-6') : openMenuTools('menu-6')"><img src="{% static 'includes/icone/modify.png' %}" alt="Apri Menu"></button>
              </div>
            </div>
            <div class="table-container">
              <div class="table-header">
                <p>Attività Sedentaria</p>
                <p>Level</p>
                <p>Notes</p>
              </div>
            
              <div class="table-content">
                <div class="riga-container">
                  <p> <input name="attivita_sedentaria" type="text" value="{{ persona.attivita_sedentaria }}" disabled> </p>
                  <p> <input name="livello_sedentarieta" type="text" value="{{ persona.livello_sedentarieta }}" disabled> </p>
                  <p> <input name="sedentarieta_nota" type="text" value="{{ persona.sedentarieta_nota }}" disabled> </p>
                  <input type="hidden" name="form_id" value="datiBaseForm6">
                </div>
              </div>
            </div>
        </form>
      </section>

      <section class="container_data blood_data">

        <div class="container-blood-input">
          <div class="container">
            <h3>Blood Group</h3>
            <input type="text" readonly id="blood_group" />
          </div>

          <div class="container">
              <h3>Factor rh</h3>
              <input type="text" readonly id="rh" />
          </div>
        </div>
    
      
        <button class="button-style"  id="btn_blood_group">Update</button>
      </section>
    </main>

    <script>
      // Aprire il menu con animazione fluida
      function openMenuTools(menuId) {
          const menu = document.getElementById(menuId);
          menu.style.display = 'flex'; 
          setTimeout(() => {
              menu.style.opacity = '1';
              menu.style.transform = 'translateX(0)';
          }, 10); // Ritardo per attivare la transizione dopo il cambio display
      }

      // Chiudere il menu con animazione fluida
      function closeMenuTools(menuId) {
          const menu = document.getElementById(menuId);
          menu.style.opacity = '0';
          menu.style.transform = 'translateX(20px)';
          setTimeout(() => {
              menu.style.display = 'none';
          }, 300); // Attendere il completamento della transizione prima di nascondere
      }
    </script>
  </body>
</html>
