{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- Favicon -->
    <link rel="sortcut icon" href='{% static "includes/icone/favicon.png" %}' type="image/x-icon">

    <title>Eta Bio-Vitale, {{ persona.name }}</title>

    <!-- Css Import -->
    <link rel="stylesheet" href="{% static 'includes/css/Componenti.css' %}">
    <link rel="stylesheet" href="{% static 'includes/css/EtaVitale.css' %}">


    <!-- Bootstrap import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <!-- JS IMPORT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="{% static 'includes/js/spinner.js' %}" defer></script>
</head>

<body>
    
    <!-- Loader -->
    {% include 'components/loader.html' %}

    <!-- NAVBAR -->
    {% include 'components/navBar.html' %}
    

    <main>
        <!-- MENU TRACE -->
        <div class="main-title-nav">
            <div class="back-tittle">
                <a id="back" href="{% url 'cartella_paziente' persona.id %}"><img src="{% static 'includes/icone/arrowBack.png' %}"
                        alt=""></a>
            </div>

            <div class="main-menu-trace">
                <a href="{% url 'HomePage' %}">
                    <img src="{% static 'includes/icone/homePage.png' %}" alt="Home Page" title="Home Page" />
                </a>
                <p>»</p>
                <p>
                    <a href="{% url 'Risultati' %}">Pazienti</a>
                </p>
                <p>»</p>
                <p>
                    <a href="{% url 'cartella_paziente' persona.id %}">Cartella Paziente</a>
                </p>
                <p>»</p>
                <p>Cartella Paziente</p>
            </div>
        </div>

        <!-- MODALE RISULTATO -->

        <script>
            function closeModal(){
                document.getElementById('ModalRisultato').style.display = 'none'
                document.getElementById('backdropModal').style.display = 'none'
            }
        </script>
       
        {% if modal %}
            <div class="backdropModale" id="backdropModal"></div>
            <div class="modaleRisultato" id="ModalRisultato">
                <h3>
                    Risultato Calcolo Età BioVitale
                </h3>
                <p>{{ Referto.punteggio }}</p>

                <button class="button button--submit" onclick="closeModal()">
                    <span class="button__icon-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-label="Close" role="img" class="button__icon-svg">
                            <!-- Icona close - Croce stilizzata -->
                            <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-label="Close" role="img" class="button__icon-svg button__icon-svg--copy">
                            <!-- Icona close - Croce stilizzata -->
                            <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </span>
                    Chiudi
                </button> 
            </div>
        {% endif %}



        <div class="containerPrincipale">
            <div class="contenitoreTest">
                <div class="contenitoreTest-Header">
                    <img src="{% static 'includes/images/etaWelcome.webp' %}" alt="" width="50px" height="50px">
                    <h3>Test della capacità Vitale</h3>
                </div>
                
                <div class="contentTest">
                    <p style="margin-bottom: 20px; margin-top: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti est odio libero accusamus? 
                        Molestias qui similique aperiam perferendis tenetur cumque praesentium consequuntur id,
                        veniam ratione eligendi et, amet atque saepe.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quisquam, soluta, laborum explicabo
                        officiis veritatis commodi at, pariatur reiciendis vitae deserunt inventore totam facilis maiores quae cum blanditiis eum tempora.
                    </p>
                    

                    <h5 style="margin-top: 2rem; margin-bottom: 0;">Questo test comprende :</h5>
                    <div class="containerCard-test" >
                        <p>Questionario sullo stato Immunitario</p>
                        <p>Questionario Stanchezza Fisica Autopercepita</p>
                        <p>Referto Capacità Vitale</p>
                    </div>
                </div>
                
                <button class="button button--submit" onclick="window.location.href= '{% url 'TestetaVitale' persona.id %}'">
                    <span class="button__icon-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-label="Start Quiz"
                            role="img" class="button__icon-svg">
                            <!-- Icona quiz - punto di domanda stilizzato -->
                            <path
                                d="M12 2C9.243 2 7 4.243 7 7H9C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7C15 8.207 14.117 8.901 13.268 9.493C12.478 10.043 11.819 10.526 11.819 12H13.819C13.819 11.204 14.482 10.739 15.268 10.207C16.283 9.536 17 8.707 17 7C17 4.243 14.757 2 12 2ZM11 17H13V19H11V17ZM11 14H13V15H11V14Z"
                                fill="currentColor" />
                        </svg>
                    
                    
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-label="Start Quiz"
                            role="img" class="button__icon-svg button__icon-svg--copy">
                            <!-- Icona quiz - punto di domanda stilizzato -->
                            <path
                                d="M12 2C9.243 2 7 4.243 7 7H9C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7C15 8.207 14.117 8.901 13.268 9.493C12.478 10.043 11.819 10.526 11.819 12H13.819C13.819 11.204 14.482 10.739 15.268 10.207C16.283 9.536 17 8.707 17 7C17 4.243 14.757 2 12 2ZM11 17H13V19H11V17ZM11 14H13V15H11V14Z"
                                fill="currentColor" />
                        </svg>
                    
                    </span>
                    Inizia Test
                  </button>                  
            </div>

             <!-- TABELLA REFERTI -->
            <div class="RefertiVitale">
                <div class="TabellaVitale-header">
                    <h3>Elenco referti capacità Vitale</h3>
                    <div class="filtri-button">
                        <select name="filter" id="filter" class="custom-select">
                            <option value="name">Ordinato per data più recente</option>
                            <option value="surname">Ordinato per data meno recente</option>
                            <option value="fisc_code">Ordinato per valore positivo</option>
                            <option value="personal_association">Ordinato per valore negativo</option>
                        </select>
                        <span class="custom-arrow"></span>
                    </div>
                </div>
                <div class="table-container">
                        <div class="table-header">
                            <p>Punteggio Ottenuto</p>
                            <p>Data Referto</p>
                            <p>Mostra Referto</p>
                            <p>Scarica Referto</p>
                        </div>
                        <div class="table-content">
                            {% for referto in referti_test_recenti %}
                            <div class="riga-container">
                                <p>{{ referto.punteggio }}</p>
                                <p>{{ referto.data_referto }}</p>
                                <p>
                                    <a href="{% url 'referto_test' persona.id referto.id %}">
                                        <img src="{% static 'includes/icone/referto.png' %}" alt="" />
                                    </a>
                                </p>
                                <p>
                                    <a href="#">
                                        <img src="{% static 'includes/icone/download.png' %}" alt="" />
                                    </a>
                                </p>
                            </div>
                            {% empty %}
                            <p class="text-center">No recent reports found.</p>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JS Import -->
    <script>
        const select = document.querySelector('.custom-select');
        const arrow = document.querySelector('.custom-arrow');
        let isOpen = false; // Stato del menu

        select.addEventListener('click', () => {
            isOpen = !isOpen; // Toggle dello stato
            gsap.to(arrow, { rotate: isOpen ? 180 : 0, duration: 0.2 });
        });

        select.addEventListener('blur', () => {
            isOpen = false; // Reset dello stato quando perde il focus
            gsap.to(arrow, { rotate: 0, duration: 0.2 });
        });
    </script>
</body>
</html>