{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- Favicon -->
    <link rel="sortcut icon" href='{% static "includes/icone/favicon.png" %}' type="image/x-icon">

    <title>Età Bio-Vitale</title>

    <!-- Css Import -->
    <link rel="stylesheet" href="{% static 'includes/css/Componenti.css' %}">
    <link rel="stylesheet" href="{% static 'includes/css/EtaVitale.css' %}">


    <!-- Bootstrap import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <!-- JS IMPORT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://unpkg.com/pdf-lib"></script>
</head>

<body>
    
    <!-- Loader -->
    {% include 'components/loader.html' %}

    <!-- NAVBAR -->
    {% include 'components/navBarPatient.html' %}
    

    <main>
        <!-- MENU TRACE -->
        <div class="main-title-nav">
            <div class="back-tittle">
                <a id="back" href="{% url 'cartella_paziente' persona.id %}"><img src="{% static 'includes/icone/arrowBack.png' %}"></a>
                <h2 class="main-welcome-title">
                    <span>{{ persona.surname|title }}</span>
                    <span>{{ persona.name|title }}</span> |
                    <span>Età: {{ persona.chronological_age }}</span>
                    {% if persona.phone and persona.email %}
                    |
                      <span class="phone_span">
                        <img src="{% static 'includes/icone/phone.png' %}" width="20px" height="20px">
                        Telefono: {{ persona.phone }}
                      </span> |
                      <span class="email_span">
                        <img src="{% static 'includes/icone/emailNew.png' %}" width="20px" height="20px">
                        Email: {{ persona.email }}
                      </span>
                    {% endif %}
                </h2>
            </div>

            <div class="main-menu-trace">
                <a href="{% url 'HomePage' %}">
                    <img src="{% static 'includes/icone/homePage.png' %}" alt="Home Page" title="Home Page" />
                </a>
                <p>»</p>
                <p>
                    <a href="{% url 'Risultati' %}">Pazienti</a>
                </p>
                <p>»</p>
                <p>
                    <a href="{% url 'cartella_paziente' persona.id %}">Cartella Paziente</a>
                </p>
                <p>»</p>
                <p>Età Bio-Vitale</p>
            </div>
        </div>

        <!-- MODALE RISULTATO -->

        <script>
            function closeModal(){
                document.getElementById('ModalRisultato').style.display = 'none'
                document.getElementById('backdropModal').style.display = 'none'
            }
        </script>
       
        {% if modal %}
            <div class="backdropModale" id="backdropModal"></div>
            <div class="modaleRisultato" id="ModalRisultato">
                <h3>
                    Risultato Calcolo Età BioVitale
                </h3>
                <p>{{ Referto.punteggio }}</p>

                <button class="button button--submit" onclick="closeModal()">
                    <span class="button__icon-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-label="Close" role="img" class="button__icon-svg">
                            <!-- Icona close - Croce stilizzata -->
                            <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-label="Close" role="img" class="button__icon-svg button__icon-svg--copy">
                            <!-- Icona close - Croce stilizzata -->
                            <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </span>
                    Chiudi
                </button> 
            </div>
        {% endif %}



        <div class="containerPrincipale">
            <div class="contenitoreTest">
                <div class="contenitoreTest-Header">
                    <img src="{% static 'includes/images/etaWelcome.webp' %}" alt="" width="50px" height="50px">
                    <h3>Test della capacità Vitale</h3>
                </div>
                
                <div class="contentTest">
                    <p style="margin-bottom: 20px;">Per capacità vitale si intende uno stato fisiologico (dovuto a
                        normali
                        o accelerati processi di invecchiamento biologico) risultante dall'interazione tra più sistemi fisiologici, che
                        si
                        riflette nel livello di energia e nel metabolismo, nella funzione neuromuscolare e nelle funzioni immunitarie e
                        di
                        risposta allo stress del corpo (I. Bautmans et al.,2022).
                    </p>
                    <p>
                        Il test si compone di 5 domini:
                    <ul style="margin-top: 1rem; margin-bottom: 1rem;">
                        <li>Dominio cognitivo;</li>
                        <li>Dominio psicologico;</li>
                        <li>Dominio sensoriale;</li>
                        <li>Dominio della vitalità;</li>
                        <li>Dominio della locomozione.</li>
                    </ul>
                        <p style="margin-top: 2rem;">
                            Il punteggio viene calcolato dai risultati dei test per ciascun dominio, complementati dall’analisi di biomarcatori
                            circolanti dell’infiammazione e del metabolismo.
                        </p>
                    </p>
                
                
                    
                </div>
                
            </div>

             <!-- TABELLA REFERTI -->
            <div class="RefertiVitale">
                <div class="TabellaVitale-header">
                    <h3>Elenco referti capacità Vitale</h3>
                    <div class="filtri-button">
                        <select name="filter" id="filter" class="custom-select">
                            <option value="name">Ordinato per data più recente</option>
                            <option value="surname">Ordinato per data meno recente</option>
                            <option value="fisc_code">Ordinato per valore positivo</option>
                            <option value="personal_association">Ordinato per valore negativo</option>
                        </select>
                        <span class="custom-arrow"></span>
                    </div>
                </div>
                <div class="table-container">
                        <div class="table-header">
                            <p>Punteggio Ottenuto</p>
                            <p>Data Referto</p>
                            <p>Mostra Referto</p>
                            <p>Scarica Referto</p>
                        </div>
                        <div class="table-content">
                            {% for referto in referti_test_recenti %}
                            <div class="riga-container">
                                <p>{{ referto.punteggio }}</p>
                                <p>{{ referto.data_referto }}</p>
                                <p>
                                    <a href="{% url 'referto_test' persona.id referto.id %}">
                                        <img src="{% static 'includes/icone/referto.png' %}" alt="" />
                                    </a>
                                </p>
                                <p>

                                    <a href="{% url 'download_pdf_vitale' persona.id referto.id %}" 
                                        id="pdfCapacitaVitale">
                                        <img src="{% static 'includes/icone/download.png' %}" alt="Scarica PDF">
                                    </a>


                                    {% if scarica %}
                                        <script>
                                            document.addEventListener("DOMContentLoaded", function () {
                                                const pdfVitale = document.getElementById("pdfCapacitaVitale");

                                                pdfVitale.addEventListener("click", function (event) {
                                                    event.preventDefault(); 
                                                    
                                                    const url = pdfVitale.getAttribute("href");

                                                    fetch(url, {
                                                        headers: { "X-Requested-With": "XMLHttpRequest" }
                                                    })
                                                    .then(response => response.json()) 
                                                    .then(data => {

                                                        Object.keys(data).forEach(key => {
                                                            pdfVitale.setAttribute(`data-${key}`, data[key]);
                                                        });
     
                                                        generatePDF();
                                                    })
                                                    .catch(error => console.error("Errore nella richiesta AJAX:", error));
                                                });
                                            });

                                        
                                        // FUNZIONE PER SCARICARE IL REFERTO DELLA CAPACITA' VITALE
                                        document.addEventListener("DOMContentLoaded", function () {
                                            const pdfVitale = document.getElementById("pdfCapacitaVitale");

                                            async function generatePDF() {
                                                try {
                                                    const existingPdfBytes = await fetch("/static/includes/pdfTemplates/RefertoCapacitaVitale.pdf")
                                                        .then(res => res.arrayBuffer());
                                                    const pdfDoc = await PDFDocument.load(existingPdfBytes);
                                                    const pages = pdfDoc.getPages();

                                                    // Seleziona il primo foglio
                                                    const firstPage = pages[0];

                                                    // Recupera i dati dagli attributi del link
                                                    const getData = (attr) => pdfVitale.getAttribute(`data-${attr}`) || "N/A";

                                                    const name = getData("name");
                                                    const surname = getData("surname");
                                                    const dob = getData("dob");
                                                    const cf = getData("codice_fiscale");
                                                    const place_birth = getData("place_of_birth");
                                                    const chronological_age = getData("chronological_age");
                                                    const risultato_capacita = getData("risultato_capacita");
                                                    const risultato_mmse = getData("risultato_mmse");
                                                    const risultato_gds = getData("risultato_gds");
                                                    const risultato_loc = getData("risultato_loc");
                                                    const risultato_vista = getData("risultato_vista");
                                                    const risultato_udito = getData("risultato_udito");
                                                    const risultato_hgs = getData("risultato_hgs");
                                                    const risultato_pft = getData("risultato_pft");
                                                    const risultato_isq = getData("risultato_isq");
                                                    const risultato_bmi = getData("risultato_bmi");
                                                    const risultato_cdp = getData("risultato_cdp");
                                                    const risultato_whr = getData("risultato_whr");
                                                    const risultato_whr_ratio = getData("risultato_whr_ratio");
                                                    const risultato_cst = getData("risultato_cst");
                                                    const risultato_gs = getData("risultato_gs");
                                                    const risultato_ppt = getData("risultato_ppt");
                                                    const risultato_sarc_f = getData("risultato_sarc_f");

                                                    // Scrive i dati sulla prima pagina
                                                    firstPage.drawText(`${name}`, { x: 380, y: 654, size: 12, color: rgb(0, 0, 0) });
                                                    firstPage.drawText(`${surname}`, { x: 455, y: 654, size: 12, color: rgb(0, 0, 0) });
                                                    firstPage.drawText(`${dob}`, { x: 340, y: 638, size: 12, color: rgb(0, 0, 0) });
                                                    firstPage.drawText(`${cf}`, { x: 295, y: 622, size: 12, color: rgb(0, 0, 0) });
                                                    firstPage.drawText(`${place_birth}`, { x: 280, y: 638, size: 12, color: rgb(0, 0, 0) });
                                                    firstPage.drawText(`${chronological_age}`, { x: 480, y: 638, size: 12, color: rgb(0, 0, 0) });
                                                    firstPage.drawText(`${risultato_capacita}`, { x: 150, y: 530, size: 12, color: rgb(0, 0, 0) });

                                                    // Seconda pagina
                                                    const secondPage = pages[1];
                                                    secondPage.drawText(`${risultato_mmse}`, { x: 200, y: 438, size: 12, color: rgb(0, 0, 0) });

                                                    // Terza pagina
                                                    const thirdPage = pages[2];
                                                    thirdPage.drawText(`${risultato_gds}`, { x: 200, y: 684, size: 12, color: rgb(0, 0, 0) });
                                                    thirdPage.drawText(`${risultato_loc}`, { x: 200, y: 253, size: 12, color: rgb(0, 0, 0) });

                                                    // Quarta pagina
                                                    const fourthPage = pages[3];
                                                    fourthPage.drawText(`${risultato_vista}`, { x: 200, y: 596, size: 12, color: rgb(0, 0, 0) });
                                                    fourthPage.drawText(`${risultato_udito}`, { x: 200, y: 237, size: 12, color: rgb(0, 0, 0) });

                                                    // Quinta pagina
                                                    const fifthPage = pages[4];
                                                    fifthPage.drawText(`${risultato_hgs}`, { x: 200, y: 315, size: 12, color: rgb(0, 0, 0) });

                                                    // Sesta pagina
                                                    const sixthPage = pages[5];
                                                    sixthPage.drawText(`${risultato_pft}`, { x: 200, y: 730, size: 12, color: rgb(0, 0, 0) });
                                                    sixthPage.drawText(`${risultato_isq}`, { x: 200, y: 300, size: 12, color: rgb(0, 0, 0) });

                                                    // Settima pagina
                                                    const seventhPage = pages[6];
                                                    seventhPage.drawText(`${risultato_bmi}`, { x: 200, y: 718, size: 12, color: rgb(0, 0, 0) });
                                                    seventhPage.drawText(`${risultato_cdp}`, { x: 200, y: 122, size: 12, color: rgb(0, 0, 0) });

                                                    // Ottava pagina
                                                    const eighthPage = pages[7];
                                                    eighthPage.drawText(`${risultato_whr}`, { x: 200, y: 176, size: 12, color: rgb(0, 0, 0) });

                                                    // Nona pagina
                                                    const tenthPage = pages[9];
                                                    tenthPage.drawText(`${risultato_whr_ratio}`, { x: 200, y: 778, size: 12, color: rgb(0, 0, 0) });
                                                    tenthPage.drawText(`${risultato_cst}`, { x: 200, y: 410, size: 12, color: rgb(0, 0, 0) });
                                                    tenthPage.drawText(`${risultato_gs}`, { x: 200, y: 168, size: 12, color: rgb(0, 0, 0) });

                                                    // Undicesima pagina
                                                    const eleventhPage = pages[10];
                                                    eleventhPage.drawText(`${risultato_ppt}`, { x: 200, y: 570, size: 12, color: rgb(0, 0, 0) });
                                                    eleventhPage.drawText(`${risultato_sarc_f}`, { x: 200, y: 123, size: 12, color: rgb(0, 0, 0) });

                                                    // Salvataggio e download del PDF
                                                    const modifiedPdfBytes = await pdfDoc.save();
                                                    const blob = new Blob([modifiedPdfBytes], { type: "application/pdf" });
                                                    const link = document.createElement("a");
                                                    link.href = URL.createObjectURL(blob);
                                                    link.download = `${name.toUpperCase()}-${surname.toUpperCase()}-CapacitaVitale.pdf`;
                                                    link.click();
                                                } catch (error) {
                                                    console.error("Errore durante la generazione del PDF:", error);
                                                }
                                            }

                                            pdfVitale.addEventListener("click", function (event) {
                                                event.preventDefault();
                                                generatePDF();
                                            });
                                        });
                                        </script>
                                    {% endif %}
                                </p>
                            </div>
                            {% empty %}
                            <p class="text-center mt-2 mb-2">Nessun referto recente trovato.</p>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>

        <div class="container-button-submit">
            <button class="button button--submit" onclick="window.location.href= `{% url 'TestetaVitale' persona.id %}`">
                <span class="button__icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-label="Start Quiz"
                        role="img" class="button__icon-svg">
                        <!-- Icona quiz - punto di domanda stilizzato -->
                        <path
                            d="M12 2C9.243 2 7 4.243 7 7H9C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7C15 8.207 14.117 8.901 13.268 9.493C12.478 10.043 11.819 10.526 11.819 12H13.819C13.819 11.204 14.482 10.739 15.268 10.207C16.283 9.536 17 8.707 17 7C17 4.243 14.757 2 12 2ZM11 17H13V19H11V17ZM11 14H13V15H11V14Z"
                            fill="currentColor" />
                    </svg>
            
            
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-label="Start Quiz"
                        role="img" class="button__icon-svg button__icon-svg--copy">
                        <!-- Icona quiz - punto di domanda stilizzato -->
                        <path
                            d="M12 2C9.243 2 7 4.243 7 7H9C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7C15 8.207 14.117 8.901 13.268 9.493C12.478 10.043 11.819 10.526 11.819 12H13.819C13.819 11.204 14.482 10.739 15.268 10.207C16.283 9.536 17 8.707 17 7C17 4.243 14.757 2 12 2ZM11 17H13V19H11V17ZM11 14H13V15H11V14Z"
                            fill="currentColor" />
                    </svg>
            
                </span>
                Inizia Test
            </button>
        </div>
    </main>
    <!-- JS Import -->
    <script>
        /*  -----------------------------------------------------------------------------------------------
      Funzione per paginazione
      --------------------------------------------------------------------------------------------------- */
        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll(".riga-container");
            const rowsPerPage = 5;
            let currentPage = 1;
            const totalPages = Math.ceil(rows.length / rowsPerPage);

            function showPage(page, filteredRows = rows) {
                rows.forEach(row => gsap.to(row, { opacity: 0, height: 0, duration: 0.3, onComplete: () => (row.style.display = "none") }));

                filteredRows.forEach((row, index) => {
                    if (index >= (page - 1) * rowsPerPage && index < page * rowsPerPage) {
                        gsap.to(row, {
                            opacity: 1,
                            height: "5rem",
                            duration: 0.3,
                            display: "flex",
                            onStart: () => (row.style.display = "flex")
                        });
                    }
                });
            }


            function updatePaginationControls() {
                const paginationContainer = document.querySelector(".table-content");
                const existingControls = document.querySelector(".pagination-controls");

                // Rimuovere i controlli esistenti
                if (existingControls) existingControls.remove();

                // Condizione per mostrare la paginazione solo se necessario
                if (rows.length > rowsPerPage) {
                    const controls = document.createElement("div");
                    controls.classList.add("pagination-controls");

                    const range = 10; // Numero massimo di bottoni visibili
                    let startPage = Math.max(1, currentPage - Math.floor(range / 2));
                    let endPage = Math.min(totalPages, startPage + range - 1);

                    // Aggiusta la visualizzazione se siamo vicini all'inizio o alla fine
                    if (endPage - startPage < range - 1) {
                        startPage = Math.max(1, endPage - range + 1);
                    }

                    // Bottone per andare alla prima pagina
                    if (startPage > 1) {
                        const firstPageBtn = document.createElement("button");
                        firstPageBtn.classList.add("button-style-pagination");
                        firstPageBtn.textContent = "1";
                        firstPageBtn.addEventListener("click", () => {
                            currentPage = 1;
                            showPage(currentPage);
                            updatePaginationControls();
                        });
                        controls.appendChild(firstPageBtn);

                        // Aggiungi i dots
                        const dots = document.createElement("span");
                        dots.textContent = "...";
                        controls.appendChild(dots);
                    }

                    // Bottoni numerati
                    for (let i = startPage; i <= endPage; i++) {
                        const btn = document.createElement("button");
                        btn.classList.add("button-style-pagination");
                        btn.textContent = i;
                        if (i === currentPage) {
                            btn.classList.add("active");
                        }
                        btn.addEventListener("click", () => {
                            currentPage = i;
                            showPage(currentPage);
                            updatePaginationControls();
                        });
                        controls.appendChild(btn);
                    }

                    // Bottone per andare all'ultima pagina
                    if (endPage < totalPages) {
                        const dots = document.createElement("span");
                        dots.textContent = "...";
                        controls.appendChild(dots);

                        const lastPageBtn = document.createElement("button");
                        lastPageBtn.classList.add("button-style-pagination");
                        lastPageBtn.textContent = totalPages;
                        lastPageBtn.addEventListener("click", () => {
                            currentPage = totalPages;
                            showPage(currentPage);
                            updatePaginationControls();
                        });
                        controls.appendChild(lastPageBtn);
                    }

                    paginationContainer.appendChild(controls);
                }
            }

            // Mostra la prima pagina e controlla se la paginazione è necessaria
            showPage(currentPage);
            updatePaginationControls();
        });

        /*  -----------------------------------------------------------------------------------------------
        Funzione di animazione per il select
        --------------------------------------------------------------------------------------------------- */
        const select = document.querySelector('.custom-select');
        const arrow = document.querySelector('.custom-arrow');
        let isOpen = false; // Stato del menu

        select.addEventListener('click', () => {
            isOpen = !isOpen; // Toggle dello stato
            gsap.to(arrow, { rotate: isOpen ? 180 : 0, duration: 0.2 });
        });

        select.addEventListener('blur', () => {
            isOpen = false; // Reset dello stato quando perde il focus
            gsap.to(arrow, { rotate: 0, duration: 0.2 });
        });
    </script>
</body>
</html>