{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href='{% static "includes/icone/favicon.png" %}' type="image/x-icon">
    
    <title>BioVitalAge - Ricerca Pazienti</title>

    <!-- Css Import -->
    <link rel="stylesheet" href="{% static 'includes/css/Componenti.css' %}" />
    <link rel="stylesheet" href="{% static 'includes/css/risultati.css' %}">

    <!-- Bootstrap import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Js Import  -->
    <script src="{% static 'includes/js/risultati.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Loader -->
    {% include 'components/loader.html' %}

    <!-- NAVBAR -->
    {% include 'components/navBar.html' %}

    <main>
      <div class="main-title-nav">
        <h2 class="main-welcome-title">Elenco di tutti i pazienti</h2>
        <div class="main-menu-trace">
          <a href="{% url 'HomePage' %}">
            <img src="{% static 'includes/icone/homePage.png' %}" alt="Home Page" title="Home Page" />
          </a>
          <p>»</p>
          <p>Elenco Pazienti</p>
        </div>
      </div>
    
      <div class="barra-ricerca">

        <select name="filter" id="filter">
          <option value="name">Filtra per Nomi</option>
          <option value="surname">Filtra per Cognomi</option>
          <option value="fisc_code">Filtra per Codici Fiscali</option>
          <option value="personal_association">Filtra per Personale Associato</option>
        </select>

        <form method="POST">
          {% csrf_token %}
          <div class="input-group">

            <input type="text" class="input" id="Email" name="inputField" placeholder="Type name here" required>

            <button class="button button--submit" type="submit">

              <span class="button__icon-wrapper">

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  width="15"
                  class="button__icon-svg"
                >
                  <circle
                    cx="11"
                    cy="11"
                    r="7"
                    stroke="currentColor"
                    stroke-width="2"
                  ></circle>
                  <line
                    x1="16"
                    y1="16"
                    x2="21"
                    y2="21"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                  ></line>
                </svg>
    
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  width="15"
                  class="button__icon-svg button__icon-svg--copy"
                >
                  <circle
                    cx="11"
                    cy="11"
                    r="7"
                    stroke="currentColor"
                    stroke-width="2"
                  ></circle>
                  <line
                    x1="16"
                    y1="16"
                    x2="21"
                    y2="21"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                  ></line>
                </svg>

              </span>
              Search
            </button>

          </div>
          <!-- <input type="text" placeholder="Type name here" name="inputField" required>
                    <button type="submit">Search</button> -->
        </form>


        <div class="button-container">

          <a href="{% url 'inserisci_paziente' %}" title="Add Patient" class="button">

            <span class="button__icon-wrapper">

              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__icon-svg" width="14"
                height="14">
                <path d="M12 4V20M4 12H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
          
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="button__icon-svg button__icon-svg--copy" width="14" height="14">
                <path d="M12 4V20M4 12H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
          
            </span>
            Aggiungi Paziente
          </a>
          <!-- <a href="{% url 'inserisci_paziente' %}" title="Add Patient" id="add-patient">
            <img src="{% static 'includes/icone/add-user.png' %}" alt="Add User" title="Aggiungi Utente">
          </a> -->
        </div>

      </div>
    
      <div class="table-container">

        <div class="table-header">

          <p>Name</p>
          <p>Surname</p>
          <p>Date of Birth</p>
          <p>Codice Fiscale</p>
          <p>Place of Birth</p>
          <p>Chronological Age</p>
          <p>Ultimo Referto</p>
          <p>Cartella Paziente</p>

        </div>
      
        <div class="bg-white">

          <div class="table-content">
            {% for persona in persone %}
              <div class="riga-container">
                  <p>{{ persona.name }}</p>
                  <p>{{ persona.surname }}</p>
                  <p>{{ persona.dob|date:"d/m/Y" }}</p>
                  <p>{{ persona.codice_fiscale }}</p>
                  <p>{{ persona.place_of_birth }}</p>
                  <p>{{ persona.chronological_age }}</p>

                  <p>
                      <a href="{% url 'persona_detail' persona.id %}">
                          <img src="{% static 'includes/icone/referto.png' %}" alt="Referto" />
                      </a>
                  </p>

                  <p>
                      <a href="{% url 'cartella_paziente' persona.id %}">
                          <img src="{% static 'includes/icone/cartella.png' %}" alt="Cartella" />
                      </a>
                  </p>

              </div>
           {% endfor %}

          </div>

        </div>

      </div>

  </main>
</body>
</html>
