<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='../../../../static/includes/icone/favicon.png' type="image/x-icon">
    <title>BioVitalAge - Ricerca Pazienti</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'includes/homePage.css' %}">
    <link rel="stylesheet" href="{% static 'includes/risultati.css' %}">

    <!-- Bootstrap import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Js Import  -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- Font Import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="col-md-12 d-flex justify-content-between align-items-center nav-bar ">
            <div class="col-md-2 d-flex jus nav-bar-logo">
                <img src="{% static 'includes/icone/Logo.png' %}" alt="logo_img" title="BioVitalAge®">
            </div>
            <div class="col-md-8 nav-bar-linkage">
                <a href="{% url 'HomePage' %}">HomePage</a>
                <a href="{% url 'Calcolatore' %}">Calcolatore Età Biologica</a>
                <a href="{% url 'Risultati' %}" id="active">Ricerca Pazienti</a>
            </div>

            <div class="col-md-2 nav-bar-user">
                <h3>Demo User</h3>
                <div class="img-container-user-nav-bar">
                    <img id="userImg" src="{% static 'includes/icone/username.png' %}" alt="user">
                </div>
                <div class="nav-bar-user-modal" id="userModal">
                  <button id="nav-bar-user-modal-btn" class="nav-bar-user-modal-btn">log out</button>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-title-nav">
            <h2 class="main-welcome-title">Elenco di tutti i pazienti</h2>
            <div class="main-menu-trace">
              <a href="{% url 'HomePage' %}">
                <img src="{% static 'includes/icone/homePage.png' %}" alt="Home Page" title="Home Page" />
              </a>                
              <p>»</p>
              <p>Ricerca Pazienti</p>
            </div>
        </div>

        <div class="barra-ricerca">
          <select name="filter" id="filter">
            <option value="name">Filtra per nomi</option>
          </select>
            <form method="POST" action="#">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" class="input" id="Email" name="inputField" placeholder="Type name here" required>
                  <button class="button--submit" type="submit">Search</button>
                </div>
                <!-- <input type="text" placeholder="Type name here" name="inputField" required>
                <button type="submit">Search</button> -->
              </form>
              <div></div>
        </div>

        <div class="risultati-ricerca">
            <div class="table-placeholder">
                <p class="cella">Name</p>
                <p class="cella">Surname</p>
                <p class="cella">Date of Birth</p>
                <p class="cella">Codice Fiscale</p>
                <p class="cella">Place of Birth</p>
                <p class="cella">Chronological Age</p>
                <p class="cella">Biological Age</p>
                <p class="cella">Ultimo Referto</p>
                <p class="cella">Cartella Paziente</p>
            </div>
        
            <div class="col-md-12 content-table">
                {% for persona in persone %}
                <div class="riga d-flex justify-content-between align-items-center">
                  <div class="cella">
                    <p>{{ persona.name }}</p>
                  </div>
                  <div class="cella">
                    <p>{{ persona.surname }}</p>
                  </div>
                  <div class="cella">
                    <p>{{ persona.dob|date:"d/m/Y" }}</p>
                  </div>
                  <div class="cella">
                    <p>{{ persona.codice_fiscale }}</p>
                  </div>
                  <div class="cella">
                    <p>{{ persona.place_of_birth }}</p>
                  </div>
                  <div class="cella">
                    <p>{{ persona.chronological_age }}</p>
                  </div>
                  <div class="cella">
                    <!-- Associa il dato corretto al paziente -->
                    {% for dato in datiEstesi %}
                      {% if dato.referto.paziente.id == persona.id %}
                        <p>{{ dato.biological_age }}</p>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="cella">
                    <a href="{% url 'persona_detail' persona.id %}">
                      <img src="{% static 'includes/icone/referto.png' %}" alt="" />
                    </a>
                  </div>
                  <div class="cella">
                    <a href="{% url 'cartella_paziente' persona.id %}">
                      <img src="{% static 'includes/icone/cartella.png' %}" alt="" />
                    </a>
                  </div>
                 
                 </div>
                 {% empty %}
                 <p class="text-center">No results found</p>
                 {% endfor %}
            </div>
        </div>
    </main>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const userImg = document.getElementById("userImg");
      const userModal = document.getElementById("userModal");
      const userModalBtn = document.getElementById("nav-bar-user-modal-btn");

      function showModal() {
        userModal.classList.add("show");
      }

      userImg.addEventListener("mouseover", showModal);

      userModal.addEventListener("mouseout", () => {
        userModal.classList.remove("show");
      });

      userModalBtn.addEventListener("mouseover", showModal);
    </script>
</body>
</html>
